@charset "UTF-8";
.sinMargen {
  margin: 0;
  padding: 0; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

@font-face {
  font-family: now;
  src: url(../fonts/Now-Regular.otf); }

html {
  font-size: 62.5%; }

body {
  font-family: now; }

/*---- HEADER/NAV----*/
.header {
  background-color: #131313;
  padding-top: 1vw;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 10000; }
  .header nav button .iconoToggler {
    background-color: #131313;
    border-color: none; }
  .header .navbar ul {
    align-items: center; }
    .header .navbar ul .carrito:hover {
      animation: bounce-top 2s infinite both; }

@keyframes bounce-top {
  0% {
    transform: translateY(-4.5px);
    animation-timing-function: ease-in;
    opacity: 1; }
  24% {
    opacity: 1; }
  40% {
    transform: translateY(-2.4px);
    animation-timing-function: ease-in; }
  65% {
    transform: translateY(-1.2px);
    animation-timing-function: ease-in; }
  82% {
    transform: translateY(-0.6px);
    animation-timing-function: ease-in; }
  93% {
    transform: translateY(-0.4px);
    animation-timing-function: ease-in; }
  25%,
  55%,
  75%,
  87% {
    transform: translateY(0px);
    animation-timing-function: ease-out; }
  100% {
    transform: translateY(0px);
    animation-timing-function: ease-out;
    opacity: 1; } }
    .header .navbar ul li {
      list-style: none;
      text-align: center; }
      .header .navbar ul li:hover ul {
        display: block; }
      .header .navbar ul li a {
        text-decoration: none;
        color: #fcfcfc;
        text-transform: uppercase;
        transition: color 0.5s; }
        .header .navbar ul li a:hover {
          color: #ffdd33; }
      .header .navbar ul li ul {
        display: none;
        background-color: #131313; }
        .header .navbar ul li ul li {
          width: 100%;
          padding-top: 1.5vw;
          padding-bottom: 1.5vw; }
          .header .navbar ul li ul li a:hover {
            background-color: #131313; }

/*---- MOBILE ----*/
@media only screen and (max-width: 991px) {
  /*---- MOBILE/INDEX/MAIN ----*/
  .fondo {
    background-color: #fcfcfc; }
  /*---- MOBILE/INDEX/MAIN/HERO ----*/
  .hero {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    background-color: #fc2066; }
  .titulo {
    height: 15vh;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    background-color: #131313;
    color: #fcfcfc; }
    .titulo h1 {
      text-align: center;
      text-transform: lowercase; }
      .titulo h1 span {
        letter-spacing: 0.2rem;
        font-weight: bold; }
  .slider {
    height: 20vh;
    display: flex;
    flex-flow: row wrap;
    animation: slide 20s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;
    animation-duration: 5s; }
  @keyframes slide {
    0% {
      background-color: #00bbe0;
      background-repeat: no-repeat;
      background-size: contain; }
    35% {
      background-color: #a91fff;
      background-repeat: no-repeat;
      background-size: contain; }
    70% {
      background-color: #e0005a;
      background-repeat: no-repeat;
      background-size: contain; }
    100% {
      background-color: #00bbe0;
      background-repeat: no-repeat;
      background-size: contain; } }
    .slider div {
      display: flex;
      flex-flow: row nowrap;
      justify-content: center;
      align-items: center; }
      .slider div .verMas {
        display: none; }
      .slider div .monocromo a {
        text-align: center; }
  /*---- MOBILE/INDEX/MAIN/COLECCIONES ----*/
  .colecciones {
    height: 25vh;
    display: flex;
    flex-flow: column nowrap; }
    .colecciones div {
      margin-top: 2.5rem;
      margin-bottom: 2.5rem;
      display: flex;
      flex-flow: row nowrap;
      justify-content: center;
      align-items: center;
      text-transform: uppercase; }
      .colecciones div h2 {
        text-align: center;
        font-size: 2rem;
        text-transform: lowercase; }
        .colecciones div h2 span {
          font-weight: bold;
          color: transparent;
          background: -webkit-linear-gradient(to right, #a91fff, #e0005a);
          background: linear-gradient(to right, #a91fff, #e0005a);
          -webkit-background-clip: text;
          background-clip: text; }
    .colecciones article {
      height: 80%;
      background-image: url(../images/Banner3.jpg);
      background-repeat: no-repeat;
      background-size: cover; }
      .colecciones article div .verMasColecciones {
        display: none; }
      .colecciones article div .bouquet a {
        text-align: center; }
  /*---- MOBILE/INDEX/MAIN/CATEGORIAS ----*/
  .categorias {
    margin-top: 10rem;
    gap: 2.5rem; }
    .categorias .categorias__perros {
      max-width: 50rem; }
      .categorias .categorias__perros div {
        border: none; }
        .categorias .categorias__perros div .categorias__card {
          background-color: #fcfcfc;
          display: flex;
          flex-flow: column nowrap;
          align-items: flex-end; }
          .categorias .categorias__perros div .categorias__card h3 {
            display: none;
            color: transparent;
            font-weight: bolder;
            text-transform: uppercase; }
    .categorias .categorias__gatos {
      max-width: 50rem; }
      .categorias .categorias__gatos div {
        border: none; }
        .categorias .categorias__gatos div .categorias__card {
          background-color: #fcfcfc;
          display: flex;
          flex-flow: column nowrap;
          align-items: flex-end; }
          .categorias .categorias__gatos div .categorias__card h3 {
            display: none;
            color: transparent;
            font-weight: bolder;
            text-transform: uppercase; }
    .categorias .categorias__humanos {
      max-width: 50rem; }
      .categorias .categorias__humanos div {
        border: none; }
        .categorias .categorias__humanos div .categorias__card {
          background-color: #fcfcfc;
          display: flex;
          flex-flow: column nowrap;
          align-items: flex-end; }
          .categorias .categorias__humanos div .categorias__card h3 {
            display: none;
            color: transparent;
            font-weight: bolder;
            text-transform: uppercase; }
  /*---- MOBILE/INDEX/MAIN/DESTACADOS ----*/
  .destacados {
    margin-top: 5rem;
    background-color: #fcfcfc; }
    .destacados h2 {
      font-size: 2rem;
      margin-bottom: 5rem;
      text-align: center;
      text-transform: lowercase; }
      .destacados h2 span {
        font-weight: bold;
        color: transparent;
        background: -webkit-linear-gradient(to right, #a91fff, #e0005a);
        background: linear-gradient(to right, #a91fff, #e0005a);
        -webkit-background-clip: text;
        background-clip: text; }
  /*---- MOBILE/INDEX/MAIN/CLIENTES ----*/
  .clientes {
    margin-top: 5rem;
    margin-bottom: 10rem; }
    .clientes .clientes__newsletter {
      display: flex;
      flex-flow: column nowrap;
      align-items: center; }
      .clientes .clientes__newsletter h3 {
        text-align: center;
        font-weight: bold; }
      .clientes .clientes__newsletter .formulario {
        min-width: 20rem;
        margin-top: 5rem;
        margin-bottom: 5rem;
        display: flex;
        flex-flow: column nowrap; }
        .clientes .clientes__newsletter .formulario .formulario__campos {
          display: flex;
          flex-flow: column nowrap;
          justify-content: space-evenly;
          line-height: 3rem; }
        .clientes .clientes__newsletter .formulario .formulario__boton {
          text-align: center;
          margin-top: 2.5rem; }
    .clientes .clientes__instagram {
      margin-top: 2.5rem;
      display: flex;
      flex-flow: column nowrap;
      align-items: center; }
      .clientes .clientes__instagram .clientes__titulo {
        font-weight: bold;
        color: #131313;
        text-decoration: none;
        margin-bottom: 5rem; }
  /*---- MOBILE/TIENDA ----*/
  /*---- MOBILE/TIENDA/MAIN ----*/
  .tienda__fondo {
    background: #fcfcfc; }
    .tienda__fondo .tienda__titulo {
      height: 30vh;
      background-image: url(../images/BannerProductosMobile.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      display: flex;
      justify-content: center;
      align-items: center; }
      .tienda__fondo .tienda__titulo h1 {
        margin-left: 60%;
        color: #131313;
        font-weight: bold;
        font-size: 2rem; }
  /*---- MOBILE/TIENDA/MAIN/CATEGORÍAS ----*/
  .tienda__categorias .categorias__divGrandeM {
    margin-top: 1rem;
    background-color: #f5f5f5;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center;
    text-decoration: none;
    color: #131313;
    transition: all 0.5s; }
    .tienda__categorias .categorias__divGrandeM:hover {
      background-color: #131313;
      color: #fcfcfc; }
  .tienda__categorias .categorias__divChicoM {
    margin-top: 1rem;
    background-color: #f5f5f5;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #131313;
    transition: all 0.5s; }
    .tienda__categorias .categorias__divChicoM:hover {
      background-color: #131313;
      color: #fcfcfc; }
    .tienda__categorias .categorias__divChicoM h2 {
      padding-top: 2rem;
      padding-bottom: 2rem; }
  /*---- MOBILE/TIENDA/MAIN/NEWSLETTER ----*/
  .tienda__newsletter {
    margin-top: 5rem;
    display: flex;
    flex-flow: column nowrap;
    margin-bottom: 10rem; }
    .tienda__newsletter h3 {
      text-align: center;
      margin-bottom: 2.5rem; }
    .tienda__newsletter form {
      line-height: 2.5rem; }
      .tienda__newsletter form .tienda__campos {
        display: flex;
        flex-flow: column nowrap;
        justify-content: center; }
      .tienda__newsletter form .tienda__boton {
        text-align: center;
        margin-top: 2.5rem; }
  /*---- MOBILE/VENTA MAYORISTA/MAIN/DIV1 ----*/
  .main__mayoristas {
    background-color: #fcfcfc; }
  .mayoristas__div1 {
    height: 30vh;
    background-image: url(../images/Banner-Mayoristas-Color.jpg);
    background-repeat: no-repeat;
    background-size: cover; }
  /*---- MOBILE/VENTA MAYORISTA/MAIN/DIV2 ----*/
  .mayoristas__div2 {
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    align-items: center; }
    .mayoristas__div2 h2 {
      margin-top: 5rem;
      margin-bottom: 5rem;
      color: #e0005a;
      text-transform: lowercase;
      font-weight: bold;
      text-align: center; }
  /*---- MOBILE/VENTA MAYORISTA/MAIN/DIV3 ----*/
  .mayoristas__div3 {
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    align-items: center; }
    .mayoristas__div3 h1 {
      margin-top: 5rem;
      margin-bottom: 2.5rem;
      color: #e0005a;
      text-transform: lowercase;
      font-weight: bold;
      text-align: center; }
    .mayoristas__div3 h3 {
      margin-top: 2.5rem;
      margin-bottom: 2.5rem;
      color: #131313;
      font-weight: bold;
      text-align: center; }
    .mayoristas__div3 p {
      color: #131313;
      text-align: justify; }
      .mayoristas__div3 p a {
        color: #131313;
        text-transform: lowercase;
        font-style: italic;
        font-weight: bold;
        text-decoration: none; }
  /*---- MOBILE/VENTA MAYORISTA/MAIN/DIV4 ----*/
  .mayoristas__div4 {
    margin-top: 2.5rem;
    margin-bottom: 10rem;
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    align-items: center; }
    .mayoristas__div4 h3 {
      margin-top: 2.5rem;
      margin-bottom: 2.5rem;
      color: #131313;
      font-weight: bold;
      text-align: center; }
    .mayoristas__div4 p {
      color: #131313;
      text-align: justify; }
      .mayoristas__div4 p a {
        color: #131313;
        text-transform: lowercase;
        font-style: italic;
        font-weight: bold;
        text-decoration: none; }
  /*---- MOBILE/NOSOTROS ----*/
  /*---- MOBILE/NOSOTROS/MAIN ----*/
  .main__nosotros {
    background-color: #fcfcfc;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .main__nosotros div h1 {
      color: #e0005a;
      font-size: 2rem;
      margin-top: 5rem;
      margin-bottom: 5rem;
      text-transform: lowercase;
      text-align: center; }
      .main__nosotros div h1 span {
        letter-spacing: 0.2rem;
        font-weight: bold; }
  /*---- MOBILE/NOSOTROS/SECCION 1----*/
  .nosotros__seccion1 div {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center; }
    .nosotros__seccion1 div img {
      max-height: 40rem; }
    .nosotros__seccion1 div h2 {
      margin-top: 2.5rem;
      font-size: 2rem;
      color: #131313;
      font-weight: bold;
      text-align: center; }
    .nosotros__seccion1 div p {
      color: #131313;
      margin-top: 2rem;
      text-align: justify; }
  /*---- MOBILE/NOSOTROS/SECCION 2----*/
  .nosotros__seccion2 {
    margin-top: 5rem;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center; }
    .nosotros__seccion2 div h2 {
      font-size: 2rem;
      color: #e0005a;
      text-transform: lowercase;
      text-align: center;
      margin-bottom: 5rem; }
      .nosotros__seccion2 div h2 span {
        letter-spacing: 0.2rem;
        font-weight: bold; }
    .nosotros__seccion2 div p {
      color: #131313;
      margin-top: 2rem;
      text-align: justify;
      margin-bottom: 10rem; }
  /*---- MOBILE/CONTACTO ----*/
  /*---- MOBILE/CONTACTO/MAIN ----*/
  .contacto__fondo {
    background-color: #fcfcfc; }
  /*---- MOBILE/CONTACTO/MAIN/PREGUNTAS FRECUENTES ----*/
  .contacto__preguntasFrecuentes h2 {
    margin-top: 5rem;
    color: #e0005a;
    font-size: 2rem;
    font-weight: bold;
    text-transform: lowercase;
    margin-bottom: 5rem;
    text-align: center; }
  .contacto__preguntasFrecuentes div {
    text-align: center; }
    .contacto__preguntasFrecuentes div div h3 button {
      color: #131313;
      background-color: #fcfcfc; }
      .contacto__preguntasFrecuentes div div h3 button:focus {
        color: #e0005a;
        background-color: #fcfcfc;
        box-shadow: none; }
  .preguntasFrecuentes__nuestrosProductos {
    display: flex;
    flex-flow: column wrap;
    margin-bottom: 5rem;
    color: #131313; }
    .preguntasFrecuentes__nuestrosProductos h3 {
      margin-top: 2rem;
      font-weight: bold; }
    .preguntasFrecuentes__nuestrosProductos h4 {
      margin-top: 2rem; }
    .preguntasFrecuentes__nuestrosProductos p {
      margin-top: 2rem;
      text-align: justify; }
      .preguntasFrecuentes__nuestrosProductos p a {
        color: #fcfcfc;
        font-weight: bold;
        font-style: italic;
        text-decoration: none; }
  /*---- MOBILE/CONTACTO/MAIN/FORMULARIO ----*/
  .contenedor__contacto {
    display: flex;
    flex-flow: column nowrap; }
    .contenedor__contacto .contacto__titulo {
      margin-top: 2.5rem;
      color: #e0005a;
      font-size: 2rem;
      font-weight: bold;
      text-transform: lowercase;
      margin-bottom: 5rem;
      text-align: center; }
    .contenedor__contacto form {
      margin-top: 2rem;
      text-transform: uppercase;
      color: #131313;
      line-height: 5rem; }
      .contenedor__contacto form div select {
        text-transform: uppercase; }
  .formulario__botones {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    gap: 2rem; }
  .formulario__textarea {
    resize: none; }
  /*---- MOBILE/CONTACTO/MAIN/NEWSLETTER ----*/
  .contacto__newsletter h3 {
    color: #e0005a;
    margin-top: 10rem;
    margin-bottom: 5rem;
    font-size: 2rem;
    font-weight: bold;
    text-align: center; }
  .contacto__newsletter .newsletter__formulario {
    display: flex;
    flex-flow: column nowrap;
    color: #131313;
    margin-bottom: 5rem;
    text-transform: uppercase; }
    .contacto__newsletter .newsletter__formulario .newsletter__campos {
      display: flex;
      flex-flow: column nowrap; }
    .contacto__newsletter .newsletter__formulario .newsletter__boton {
      text-align: center;
      margin-top: 2.5rem; }
  /*---- MOBILE/ERROR-404/MAIN ----*/
  .seccion__error {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 10rem; }
    .seccion__error h2 {
      text-align: center;
      margin-top: 5rem;
      margin-bottom: 5rem; }
      .seccion__error h2 span {
        font-weight: bold; }
    .seccion__error p {
      text-align: justify; }
      .seccion__error p a {
        color: #131313;
        font-weight: bolder;
        text-decoration: none; }
        .seccion__error p a:hover {
          color: #a91fff; }
    .seccion__error img {
      margin-top: 5rem; } }

@media only screen and (min-width: 992px) {
  /*---- DESKTOP/INDEX/MAIN ----*/
  .fondo {
    background-color: #fcfcfc; }
  /*---- DESKTOP/INDEX/MAIN/HERO ----*/
  .hero {
    height: 70vh;
    background-image: url(../images/BannerPrincipal.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; }
    .hero img {
      display: none; }
  .titulo {
    height: 15vh;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    background-color: #131313;
    color: #fcfcfc; }
    .titulo h1 {
      font-size: 4rem;
      text-align: center;
      text-transform: lowercase; }
      .titulo h1 span {
        letter-spacing: 0.2rem;
        font-weight: bold; }
  .slider {
    height: 30vh;
    display: flex;
    flex-flow: row wrap;
    animation: slide 20s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;
    animation-duration: 3s; }
  @keyframes slide {
    0% {
      background-image: url(../images/Banner2.jpg);
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover; }
    35% {
      background-image: url(../images/Banner2b.jpg);
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover; }
    70% {
      background-image: url(../images/Banner2c.jpg);
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover; }
    100% {
      background-image: url(../images/Banner2.jpg);
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover; } }
    .slider div {
      display: flex;
      flex-flow: row nowrap;
      justify-content: center;
      align-items: center; }
      .slider div .monocromo {
        display: none; }
        .slider div .monocromo a {
          text-align: center; }
  /*---- DESKTOP/INDEX/MAIN/COLECCIONES ----*/
  .colecciones {
    height: 40vh;
    display: flex;
    flex-flow: column nowrap; }
    .colecciones div {
      display: flex;
      flex-flow: row nowrap;
      justify-content: center;
      align-items: center;
      text-transform: uppercase; }
      .colecciones div h2 {
        margin-top: 5rem;
        margin-bottom: 5rem;
        font-size: 4rem;
        text-transform: lowercase; }
        .colecciones div h2 span {
          font-weight: bold;
          color: transparent;
          background: -webkit-linear-gradient(to right, #a91fff, #e0005a);
          background: linear-gradient(to right, #a91fff, #e0005a);
          -webkit-background-clip: text;
          background-clip: text; }
    .colecciones article {
      height: 80%;
      background-image: url(../images/Banner3.jpg);
      background-repeat: no-repeat;
      background-size: cover; }
      .colecciones article div .bouquet {
        display: none; }
  /*---- DESKTOP/INDEX/MAIN/CATEGORIAS ----*/
  .categorias {
    margin-top: 20rem; }
    .categorias .categorias__perros div {
      border: none; }
      .categorias .categorias__perros div .categorias__card {
        background-color: #fcfcfc;
        display: flex;
        flex-flow: column nowrap;
        align-items: flex-end; }
        .categorias .categorias__perros div .categorias__card h3 {
          display: none;
          color: transparent;
          font-weight: bolder;
          text-transform: uppercase; }
    .categorias .categorias__gatos div {
      border: none; }
      .categorias .categorias__gatos div .categorias__card {
        background-color: #fcfcfc;
        display: flex;
        flex-flow: column nowrap;
        align-items: flex-end; }
        .categorias .categorias__gatos div .categorias__card h3 {
          display: none;
          color: transparent;
          font-weight: bolder;
          text-transform: uppercase; }
    .categorias .categorias__humanos div {
      border: none; }
      .categorias .categorias__humanos div .categorias__card {
        background-color: #fcfcfc;
        display: flex;
        flex-flow: column nowrap;
        align-items: flex-end; }
        .categorias .categorias__humanos div .categorias__card h3 {
          display: none;
          color: transparent;
          font-weight: bolder;
          text-transform: uppercase; }
  /*---- DESKTOP/INDEX/MAIN/DESTACADOS ----*/
  .destacados {
    background-color: #fcfcfc; }
    .destacados h2 {
      font-size: 4rem;
      margin-top: 5rem;
      margin-bottom: 5rem;
      text-align: center;
      text-transform: lowercase; }
      .destacados h2 span {
        font-weight: bold;
        color: transparent;
        background: -webkit-linear-gradient(to right, #a91fff, #e0005a);
        background: linear-gradient(to right, #a91fff, #e0005a);
        -webkit-background-clip: text;
        background-clip: text; }
  /*---- DESKTOP/INDEX/MAIN/CLIENTES ----*/
  .clientes {
    margin-top: 10rem;
    margin-bottom: 10rem; }
    .clientes .clientes__newsletter {
      display: flex;
      flex-flow: column nowrap; }
      .clientes .clientes__newsletter h3 {
        text-align: center;
        font-weight: bold; }
      .clientes .clientes__newsletter .formulario {
        margin-top: 5rem;
        display: flex;
        flex-flow: column nowrap; }
        .clientes .clientes__newsletter .formulario .formulario__campos {
          display: flex;
          justify-content: center;
          gap: 2rem; }
          .clientes .clientes__newsletter .formulario .formulario__campos div input {
            width: 30rem; }
        .clientes .clientes__newsletter .formulario .formulario__boton {
          text-align: center;
          margin-top: 2.5rem; }
    .clientes .clientes__instagram {
      display: flex;
      flex-flow: column nowrap;
      align-items: center; }
      .clientes .clientes__instagram .clientes__titulo {
        font-weight: bold;
        color: #131313;
        text-decoration: none;
        margin-bottom: 5rem; }
  /*---- DESKTOP/TIENDA ----*/
  /*---- DESKTOP/TIENDA/MAIN ----*/
  .tienda__fondo {
    background: #fcfcfc; }
    .tienda__fondo .tienda__titulo {
      height: 60vh;
      background-image: url(../images/BannerProductos1.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      text-align: center; }
      .tienda__fondo .tienda__titulo h1 {
        font-weight: bold;
        margin-top: 20rem;
        font-size: 4rem;
        margin-bottom: 5rem; }
  .seccion1__div2 {
    display: flex;
    flex-flow: column nowrap; }
    .seccion1__div2 img {
      margin-top: 5rem;
      margin-bottom: 5rem; }
  /*---- DESKTOP/TIENDA/MAIN/CATEGORÍAS ----*/
  .tienda__categorias {
    margin-top: 5rem;
    background-color: #f5f5f5; }
    .tienda__categorias .categorias__divGrande, .tienda__categorias .categorias__divGrande2 {
      background-color: #f5f5f5;
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-evenly;
      align-items: center;
      text-decoration: none;
      color: #131313;
      transition: all 0.5s; }
      .tienda__categorias .categorias__divGrande:hover, .tienda__categorias .categorias__divGrande2:hover {
        background-color: #131313;
        color: #fcfcfc; }
    .tienda__categorias .categorias__divChico {
      background-color: #f5f5f5;
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
      align-items: center;
      text-decoration: none;
      color: #131313;
      transition: all 0.5s; }
      .tienda__categorias .categorias__divChico:hover {
        background-color: #131313;
        color: #fcfcfc; }
      .tienda__categorias .categorias__divChico h2 {
        padding: 2rem 0 2rem 0; }
    .tienda__categorias .categorias__divGrande2 {
      margin-top: 6rem; }
  /*---- DESKTOP/TIENDA/MAIN/NEWSLETTER ----*/
  .tienda__newsletter {
    margin-top: 5rem;
    display: flex;
    flex-flow: column nowrap;
    margin-bottom: 10rem; }
    .tienda__newsletter h3 {
      text-align: center;
      margin-bottom: 2.5rem; }
    .tienda__newsletter form {
      line-height: 5rem; }
      .tienda__newsletter form .tienda__campos {
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        gap: 2rem; }
        .tienda__newsletter form .tienda__campos div input {
          width: 30rem; }
      .tienda__newsletter form .tienda__boton {
        text-align: center;
        margin-top: 2.5rem; }
  /*---- DESKTOP/VENTA MAYORISTA ----*/
  /*---- DESKTOP/VENTA MAYORISTA/MAIN/DIV1 ----*/
  .main__mayoristas {
    background-color: #fcfcfc; }
  .mayoristas__div1 {
    height: 30vh;
    background-image: url(../images/Banner-Mayoristas-Color.jpg);
    background-repeat: no-repeat;
    background-size: cover; }
  /*---- DESKTOP/VENTA MAYORISTA/MAIN/DIV2 ----*/
  .mayoristas__div2 {
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    align-items: center; }
    .mayoristas__div2 h2 {
      font-size: 4rem;
      margin-top: 10rem;
      margin-bottom: 5rem;
      color: #e0005a;
      text-transform: lowercase;
      font-weight: bold;
      text-align: center; }
  /*---- DESKTOP/VENTA MAYORISTA/MAIN/DIV3 ----*/
  .mayoristas__div3 {
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    align-items: center; }
    .mayoristas__div3 h1 {
      font-size: 4rem;
      margin-top: 10rem;
      margin-bottom: 5rem;
      color: #e0005a;
      text-transform: lowercase;
      font-weight: bold;
      text-align: center; }
    .mayoristas__div3 h3 {
      margin-top: 5rem;
      margin-bottom: 5rem;
      color: #131313;
      font-weight: bold;
      text-align: center; }
    .mayoristas__div3 p {
      color: #131313;
      text-align: justify; }
      .mayoristas__div3 p a {
        color: #131313;
        text-transform: lowercase;
        font-style: italic;
        font-weight: bold;
        text-decoration: none; }
  /*---- DESKTOP/VENTA MAYORISTA/MAIN/DIV4 ----*/
  .mayoristas__div4 {
    margin-top: 2.5rem;
    margin-bottom: 10rem;
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    align-items: center; }
    .mayoristas__div4 h3 {
      margin-top: 2.5rem;
      margin-bottom: 5rem;
      color: #131313;
      font-weight: bold;
      text-align: center; }
    .mayoristas__div4 p {
      color: #131313;
      text-align: justify; }
      .mayoristas__div4 p a {
        color: #131313;
        text-transform: lowercase;
        font-style: italic;
        font-weight: bold;
        text-decoration: none; }
  /*---- DESKTOP/NOSOTROS ----*/
  /*---- DESKTOP/NOSOTROS/MAIN ----*/
  .main__nosotros {
    background-color: #fcfcfc;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .main__nosotros div h1 {
      color: #e0005a;
      font-size: 4rem;
      margin-top: 10rem;
      margin-bottom: 10rem;
      text-transform: lowercase;
      text-align: center; }
      .main__nosotros div h1 span {
        letter-spacing: 0.2rem;
        font-weight: bold; }
  /*---- DESKTOP/NOSOTROS/SECCION 1----*/
  .nosotros__seccion1 div h2 {
    color: #131313;
    font-weight: bold; }
  .nosotros__seccion1 div p {
    color: #131313;
    margin-top: 2rem;
    text-align: justify; }
  /*---- DESKTOP/NOSOTROS/SECCION 2----*/
  .nosotros__seccion2 {
    margin-top: 5rem;
    margin-bottom: 10rem;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center; }
    .nosotros__seccion2 div h2 {
      font-size: 3rem;
      color: #e0005a;
      text-transform: lowercase;
      text-align: center; }
      .nosotros__seccion2 div h2 span {
        letter-spacing: 0.2rem;
        font-weight: bold; }
    .nosotros__seccion2 div p {
      color: #131313;
      margin-top: 5rem;
      text-align: justify; }
  /*---- DESKTOP/CONTACTO ----*/
  /*---- DESKTOP/CONTACTO/MAIN ----*/
  .contacto__fondo {
    background-color: #fcfcfc; }
  .main__contacto {
    height: 30vh;
    background-image: url(../images/Banner3.jpg);
    background-size: cover; }
    .main__contacto h1 {
      color: #131313;
      font-weight: bolder;
      text-align: center; }
  /*---- DESKTOP/CONTACTO/MAIN/PREGUNTAS FRECUENTES ----*/
  .contacto__preguntasFrecuentes h2 {
    margin-top: 10rem;
    color: #e0005a;
    font-size: 4rem;
    font-weight: bold;
    text-transform: lowercase;
    margin-bottom: 5rem; }
  .contacto__preguntasFrecuentes div div h3 button {
    color: #131313;
    background-color: #fcfcfc; }
    .contacto__preguntasFrecuentes div div h3 button:focus {
      color: #e0005a;
      background-color: #fcfcfc;
      box-shadow: none; }
  .preguntasFrecuentes__nuestrosProductos {
    display: flex;
    flex-flow: column wrap;
    margin-bottom: 5rem;
    color: #131313; }
    .preguntasFrecuentes__nuestrosProductos h3 {
      margin-top: 2rem;
      font-weight: bold; }
    .preguntasFrecuentes__nuestrosProductos h4 {
      margin-top: 2rem; }
    .preguntasFrecuentes__nuestrosProductos p {
      margin-top: 2rem;
      text-align: justify; }
      .preguntasFrecuentes__nuestrosProductos p a {
        color: #fcfcfc;
        font-weight: bold;
        font-style: italic;
        text-decoration: none; }
  /*---- DESKTOP/CONTACTO/MAIN/FORMULARIO ----*/
  .contenedor__contacto {
    display: flex;
    flex-flow: column nowrap; }
    .contenedor__contacto .contacto__titulo {
      margin-top: 10rem;
      color: #e0005a;
      font-size: 4rem;
      font-weight: bold;
      text-transform: lowercase;
      margin-bottom: 5rem; }
    .contenedor__contacto form {
      margin-top: 2rem;
      text-transform: uppercase;
      font-weight: bold;
      color: #131313; }
      .contenedor__contacto form div select {
        font-family: now;
        text-transform: uppercase; }
  .formulario__botones {
    display: flex;
    justify-content: space-between; }
  .formulario__textarea {
    resize: none; }
  /*---- DESKTOP/CONTACTO/MAIN/NEWSLETTER ----*/
  .contacto__newsletter h3 {
    color: #e0005a;
    margin-top: 10rem;
    margin-bottom: 2.5rem;
    font-size: 3rem;
    font-weight: bold; }
  .contacto__newsletter .newsletter__formulario {
    display: flex;
    flex-flow: column nowrap;
    color: #131313;
    margin-bottom: 5rem;
    text-transform: uppercase; }
    .contacto__newsletter .newsletter__formulario .newsletter__campos {
      display: flex;
      flex-flow: row nowrap;
      gap: 2rem; }
    .contacto__newsletter .newsletter__formulario .newsletter__boton {
      margin-top: 2.5rem; }
  /*---- DESKTOP/ERROR-404/MAIN ----*/
  .seccion__error {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 10rem; }
    .seccion__error h2 {
      margin-top: 10rem;
      margin-bottom: 10rem; }
      .seccion__error h2 span {
        font-weight: bold; }
    .seccion__error p a {
      color: #131313;
      font-weight: bolder;
      text-decoration: none; }
      .seccion__error p a:hover {
        color: #a91fff; }
    .seccion__error img {
      margin-top: 5rem; } }

/*---- MOBILE ----*/
/*---- FOOTER ----*/
@media only screen and (max-width: 991px) {
  .footer {
    padding-top: 5rem;
    background-color: #131313; }
    .footer .footer__contacto {
      display: flex;
      flex-flow: column wrap;
      justify-content: space-around;
      margin-bottom: 5rem; }
      .footer .footer__contacto div div h2 {
        text-align: center;
        color: #fcfcfc;
        text-decoration: underline;
        font-weight: bold;
        margin-bottom: 1rem; }
      .footer .footer__contacto div div div ul {
        padding: 0;
        margin-bottom: 3rem; }
        .footer .footer__contacto div div div ul li {
          text-align: center;
          list-style: none;
          line-height: 4rem; }
          .footer .footer__contacto div div div ul li a {
            color: #fcfcfc;
            text-decoration: none;
            transition: all 0.5s; }
            .footer .footer__contacto div div div ul li a:hover {
              color: #a91fff; }
    .footer .footer__redes {
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
      align-items: center;
      margin-bottom: 5rem; }
      .footer .footer__redes h4 {
        margin-bottom: 2rem;
        color: #fcfcfc;
        font-weight: bold; }
      .footer .footer__redes ul {
        display: flex;
        padding: 0; }
        .footer .footer__redes ul li {
          display: flex; }
          .footer .footer__redes ul li a {
            transform: scale(0.75);
            transition: all 0.3s; }
            .footer .footer__redes ul li a:hover {
              transform: scale(1.1, 1.1); }
      .footer .footer__redes div {
        margin-top: 2rem;
        display: flex;
        flex-flow: column nowrap;
        align-items: center; }
        .footer .footer__redes div h4 {
          margin-bottom: 2rem;
          color: #fcfcfc; }
    .footer .footer__mediosDePago {
      display: flex;
      flex-flow: column wrap;
      align-items: center; }
      .footer .footer__mediosDePago h4 {
        color: #fcfcfc;
        font-weight: bold;
        margin-bottom: 2rem; }
      .footer .footer__mediosDePago .mediosDePago__galeria {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 1fr);
        row-gap: 2rem; }
    .footer .footer__copyright {
      text-align: center;
      margin-top: 5rem;
      margin-bottom: 2.5rem;
      text-transform: uppercase; }
      .footer .footer__copyright a {
        color: #fcfcfc;
        text-decoration: none; } }

/*---- DESKTOP ----*/
/*---- FOOTER ----*/
@media only screen and (min-width: 992px) {
  .footer {
    padding-top: 8rem;
    background-color: #131313; }
    .footer .footer__contacto {
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-around; }
      .footer .footer__contacto div div h2 {
        text-align: left;
        color: #fcfcfc;
        font-weight: bold;
        margin-bottom: 1rem; }
      .footer .footer__contacto div div div ul {
        padding: 0; }
        .footer .footer__contacto div div div ul li {
          text-align: left;
          list-style: none;
          line-height: 5rem; }
          .footer .footer__contacto div div div ul li a {
            color: #fcfcfc;
            text-decoration: none;
            transition: all 0.5s; }
            .footer .footer__contacto div div div ul li a:hover {
              color: #a91fff; }
    .footer .footer__redes {
      display: flex;
      flex-flow: column nowrap; }
      .footer .footer__redes h4 {
        margin-bottom: 2rem;
        color: #fcfcfc;
        font-weight: bold; }
      .footer .footer__redes ul {
        display: flex;
        padding: 0; }
        .footer .footer__redes ul li {
          display: flex; }
          .footer .footer__redes ul li a {
            transform: scale(0.75);
            transition: all 0.3s; }
            .footer .footer__redes ul li a:hover {
              transform: scale(1.1, 1.1); }
      .footer .footer__redes div {
        margin-top: 2rem;
        display: flex;
        flex-flow: column nowrap; }
        .footer .footer__redes div h4 {
          margin-bottom: 2rem;
          color: #fcfcfc; }
    .footer .footer__mediosDePago {
      display: flex;
      flex-flow: column wrap; }
      .footer .footer__mediosDePago h4 {
        color: #fcfcfc;
        font-weight: bold;
        margin-bottom: 2rem; }
      .footer .footer__mediosDePago .mediosDePago__galeria {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 1fr);
        row-gap: 2rem; }
    .footer .footer__copyright {
      text-align: right;
      margin-top: 5rem;
      margin-bottom: 2.5rem;
      text-transform: uppercase; }
      .footer .footer__copyright a {
        color: #fcfcfc;
        text-decoration: none; } }

/*---- BOTONES ----*/
.boton, .boton--blanco, .boton--corto, .boton--largo, .boton--nosotros, .boton--formulario, .boton--newsletter {
  background-color: #131313;
  color: #e0005a;
  text-decoration: none;
  text-transform: uppercase;
  padding: 2rem;
  transition: background-color 0.5s; }
  .boton:hover, .boton--blanco:hover, .boton--corto:hover, .boton--largo:hover, .boton--nosotros:hover, .boton--formulario:hover, .boton--newsletter:hover {
    color: #e0005a;
    background-color: #a91fff; }

.boton--blanco {
  width: 20%;
  background-color: #e0005a;
  color: #131313;
  padding: 1rem;
  text-align: center;
  transition: all 0.5s; }
  .boton--blanco:hover {
    color: #e0005a;
    background-color: #a91fff; }

.boton--corto {
  width: 15%;
  text-align: center;
  margin-bottom: 2.5rem; }

.boton--largo {
  border: none;
  text-align: center;
  margin-top: 3rem;
  margin-bottom: 5rem; }

.boton--nosotros {
  margin-top: 5rem;
  padding: 2rem 5rem 2rem 5rem; }

.boton--formulario {
  margin-top: 2rem;
  padding: 1rem;
  border-radius: 0; }

.boton--newsletter {
  border: none; }

/*---- Boton index ----*/
.boton__fancy, .boton__colecciones {
  background-color: transparent;
  border: 2px solid #131313;
  border-radius: 0;
  box-sizing: border-box;
  color: #fcfcfc;
  cursor: pointer;
  display: inline-block;
  font-weight: 700;
  letter-spacing: 0.05em;
  margin: 0;
  outline: none;
  overflow: visible;
  padding: 1.25em 2em;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-transform: none;
  transition: all 0.3s ease-in-out;
  user-select: none;
  font-size: 13px; }
  .boton__fancy::before, .boton__colecciones::before {
    content: " ";
    width: 1.5625rem;
    height: 2px;
    background: #131313;
    top: 50%;
    left: 1.5em;
    position: absolute;
    transform: translateY(-50%);
    transform-origin: center;
    transition: background 0.3s linear, width 0.3s linear; }
  .boton__fancy .text, .boton__colecciones .text {
    font-size: 1.125em;
    line-height: 1.33333em;
    padding-left: 2em;
    display: block;
    text-align: left;
    transition: all 0.3s ease-in-out;
    text-transform: uppercase;
    text-decoration: none;
    color: #131313; }
  .boton__fancy .top-key, .boton__colecciones .top-key {
    height: 2px;
    width: 1.5625rem;
    top: -2px;
    left: 0.625rem;
    position: absolute;
    background: #fcfcfc;
    transition: width 0.5s ease-out, left 0.3s ease-out; }
  .boton__fancy .bottom-key-1, .boton__colecciones .bottom-key-1 {
    height: 2px;
    width: 1.5625rem;
    right: 1.875rem;
    bottom: -2px;
    position: absolute;
    background: #fcfcfc;
    transition: width 0.5s ease-out, right 0.3s ease-out; }
  .boton__fancy .bottom-key-2, .boton__colecciones .bottom-key-2 {
    height: 2px;
    width: 0.625rem;
    right: 0.625rem;
    bottom: -2px;
    position: absolute;
    background: #fcfcfc;
    transition: width 0.5s ease-out, right 0.3s ease-out; }
  .boton__fancy:hover, .boton__colecciones:hover {
    color: #fcfcfc;
    background: #131313; }
    .boton__fancy:hover::before, .boton__colecciones:hover::before {
      width: 0.9375rem;
      background: #fcfcfc; }
    .boton__fancy:hover .text, .boton__colecciones:hover .text {
      color: #fcfcfc;
      padding-left: 1.5em; }
    .boton__fancy:hover .top-key, .boton__colecciones:hover .top-key {
      left: -2px;
      width: 0px; }
    .boton__fancy:hover .bottom-key-1, .boton__colecciones:hover .bottom-key-1 {
      right: 0;
      width: 0; }
    .boton__fancy:hover .bottom-key-2, .boton__colecciones:hover .bottom-key-2 {
      right: 0;
      width: 0; }

.boton__colecciones {
  background-color: #131313;
  border: 2px solid #131313;
  border-radius: 0;
  box-sizing: border-box;
  color: #fcfcfc;
  cursor: pointer;
  display: inline-block;
  font-weight: 700;
  letter-spacing: 0.05em;
  margin: 0;
  outline: none;
  overflow: visible;
  padding: 1.25em 2em;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-transform: none;
  transition: all 0.3s ease-in-out;
  user-select: none;
  font-size: 13px; }
  .boton__colecciones::before {
    content: " ";
    width: 1.5625rem;
    height: 2px;
    background: #fcfcfc;
    top: 50%;
    left: 1.5em;
    position: absolute;
    transform: translateY(-50%);
    transform-origin: center;
    transition: background 0.3s linear, width 0.3s linear; }
  .boton__colecciones .text {
    font-size: 1.125em;
    line-height: 1.33333em;
    padding-left: 2em;
    display: block;
    text-align: left;
    transition: all 0.3s ease-in-out;
    text-transform: uppercase;
    text-decoration: none;
    color: #fcfcfc; }
  .boton__colecciones .top-key {
    height: 2px;
    width: 1.5625rem;
    top: -2px;
    left: 0.625rem;
    position: absolute;
    background: #fcfcfc;
    transition: width 0.5s ease-out, left 0.3s ease-out; }
  .boton__colecciones .bottom-key-1 {
    height: 2px;
    width: 1.5625rem;
    right: 1.875rem;
    bottom: -2px;
    position: absolute;
    background: #fcfcfc;
    transition: width 0.5s ease-out, right 0.3s ease-out; }
  .boton__colecciones .bottom-key-2 {
    height: 2px;
    width: 0.625rem;
    right: 0.625rem;
    bottom: -2px;
    position: absolute;
    background: #fcfcfc;
    transition: width 0.5s ease-out, right 0.3s ease-out; }
  .boton__colecciones:hover {
    color: #131313;
    background: #fcfcfc; }
    .boton__colecciones:hover::before {
      width: 0.9375rem;
      background: #131313; }
    .boton__colecciones:hover .text {
      color: #131313;
      padding-left: 1.5em; }
    .boton__colecciones:hover .top-key {
      left: -2px;
      width: 0px; }
    .boton__colecciones:hover .bottom-key-1 {
      right: 0;
      width: 0; }
    .boton__colecciones:hover .bottom-key-2 {
      right: 0;
      width: 0; }

/*---- Boton newsletter ----*/
.boton__newsletter, .boton__categorias, .boton__formulario, .boton__tienda {
  color: #fcfcfc;
  padding: 17px 40px;
  border-radius: 50px;
  border: 0;
  background-color: #131313;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  font-size: 15px;
  transition: all .5s ease; }
  .boton__newsletter:hover, .boton__categorias:hover, .boton__formulario:hover, .boton__tienda:hover {
    letter-spacing: 3px;
    background-color: #a91fff;
    color: #fcfcfc; }
  .boton__newsletter:active, .boton__categorias:active, .boton__formulario:active, .boton__tienda:active {
    letter-spacing: 3px;
    background-color: #a91fff;
    color: #fcfcfc;
    box-shadow: #a91fff;
    transform: translateY(10px);
    transition: 100ms; }

.boton__categorias {
  color: #fcfcfc;
  background-color: #131313; }

.boton__formulario {
  color: #131313;
  background-color: #fcfcfc; }
  .boton__formulario:hover {
    background-color: #00bbe0; }

.boton__tienda {
  padding: 0.5rem 2rem;
  font-size: 1rem; }

.btn--facebook {
  transition: all 0.5s; }
  .btn--facebook:hover {
    background-color: #3b5998; }

.btn--instagram {
  transition: all 0.5s; }
  .btn--instagram:hover {
    background-color: #82008f; }

.btn--whatsapp {
  transition: all 0.5s; }
  .btn--whatsapp:hover {
    background-color: #25d366; }

.btn--mail {
  transition: all 0.5s; }
  .btn--mail:hover {
    background-color: #e0005a; }

.facebook {
  border: solid 0.1rem #3b5998; }

.instagram {
  border: solid 0.1rem #82008f; }

.whatsapp {
  border: solid 0.1rem #25d366; }

.mail {
  border: solid 0.1rem #e0005a; }
