@charset "UTF-8";
.sinMargen {
  margin: 0;
  padding: 0; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

@font-face {
  font-family: helvetica;
  src: url(../../fonts/Helvetica.ttf); }

html {
  font-size: 62.5%; }

body {
  font-family: helvetica; }

/*---- HEADER/NAV----*/
.header {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  background-color: #000000;
  padding-top: 2vw;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 10000; }
  .header nav button .iconoToggler {
    border-color: #F5EDED; }
  .header .navbar {
    width: 100%; }
    .header .navbar ul {
      width: 100%;
      font-size: 0;
      font-weight: bolder; }
      .header .navbar ul .carrito:hover {
        animation: bounce-top 2s infinite both; }

@keyframes bounce-top {
  0% {
    transform: translateY(-4.5px);
    animation-timing-function: ease-in;
    opacity: 1; }
  24% {
    opacity: 1; }
  40% {
    transform: translateY(-2.4px);
    animation-timing-function: ease-in; }
  65% {
    transform: translateY(-1.2px);
    animation-timing-function: ease-in; }
  82% {
    transform: translateY(-0.6px);
    animation-timing-function: ease-in; }
  93% {
    transform: translateY(-0.4px);
    animation-timing-function: ease-in; }
  25%,
  55%,
  75%,
  87% {
    transform: translateY(0px);
    animation-timing-function: ease-out; }
  100% {
    transform: translateY(0px);
    animation-timing-function: ease-out;
    opacity: 1; } }
      .header .navbar ul li {
        width: 12.5%;
        list-style: none;
        text-align: center; }
        .header .navbar ul li:hover ul {
          display: block; }
        .header .navbar ul li a {
          text-decoration: none;
          color: #F5EDED;
          text-transform: uppercase;
          transition: color 0.5s; }
          .header .navbar ul li a:hover {
            color: #3E3636; }
        .header .navbar ul li ul {
          display: none;
          background-color: #000000; }
          .header .navbar ul li ul li {
            width: 100%;
            padding-top: 1.5vw;
            padding-bottom: 1.5vw; }

/*---- DESKTOP/INDEX/MAIN ----*/
.fondo {
  background-color: #F5EDED; }

/*---- DESKTOP/INDEX/MAIN/HERO ----*/
.slider {
  height: 70vh;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  animation: slide 20s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in;
  animation-duration: 15s; }

@keyframes slide {
  0% {
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.1)), url(../images/Banner1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; }
  35% {
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.1)), url(../images/Banner2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; }
  70% {
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.1)), url(../images/Banner3.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; }
  100% {
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.1)), url(../images/Banner1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; } }
  .slider h1 {
    color: #F5EDED; }
  .slider p {
    color: #F5EDED; }

/*---- DESKTOP/INDEX/MAIN/COLECCIONES ----*/
.colecciones h2 {
  margin-top: 5rem;
  font-weight: bolder;
  text-align: center; }

.colecciones .colecciones__felipe {
  margin-top: 5rem;
  height: 40rem;
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0)), url(../images/FelipeWeb.jpg);
  padding-top: 2.5rem;
  padding-left: 5rem;
  display: flex;
  flex-flow: column wrap; }

.colecciones .colecciones__henry {
  margin-top: 5rem;
  height: 40rem;
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0)), url(../images/HenriWeb.jpg);
  padding-top: 2.5rem;
  padding-left: 5rem;
  display: flex;
  flex-flow: column wrap; }

.colecciones h3 {
  color: #F5EDED;
  text-transform: uppercase;
  font-weight: bold; }

/*---- DESKTOP/INDEX/MAIN/CATEGORIAS ----*/
.categorias {
  border-top: solid 0.2rem #000000; }
  .categorias h2 {
    margin-top: 2.5rem;
    font-weight: bolder;
    text-align: center;
    margin-bottom: 5rem; }
  .categorias .categorias__perros {
    background: linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0)), url(../images/Perros.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    line-height: 5rem; }
  .categorias .categorias__gatos {
    background: linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0)), url(../images/Gatos.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    line-height: 5rem; }
  .categorias .categorias__humanos {
    background: linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0)), url(../images/Humanos.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    line-height: 5rem; }
  .categorias h3 {
    margin-top: 30rem;
    margin-left: 8rem;
    color: #F5EDED;
    font-weight: bolder;
    text-transform: uppercase; }
  .categorias a {
    margin-left: 8rem;
    padding: 1.5rem; }

/*---- DESKTOP/INDEX/MAIN/DESTACADOS ----*/
.destacados {
  border-top: solid 0.2rem #000000; }
  .destacados h2 {
    margin-top: 2.5rem;
    font-weight: bolder;
    text-align: center; }
  .destacados div {
    padding-top: 5rem;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around; }
  .destacados p {
    margin-top: 5rem;
    text-align: center; }

/*---- DESKTOP/INDEX/MAIN/CLIENTES ----*/
.clientes {
  border-top: solid 0.2rem #000000; }
  .clientes a {
    margin-top: 2.5rem;
    color: #000000;
    text-decoration: none;
    text-align: center;
    margin-bottom: 2.5rem; }

/*---- DESKTOP/TIENDA ----*/
/*---- DESKTOP/TIENDA/MAIN ----*/
.tienda__fondo {
  background: #D72323;
  color: #F5EDED;
  padding-top: 5rem;
  padding-bottom: 5rem;
  font-weight: bolder;
  text-align: center; }

/*---- DESKTOP/TIENDA/MAIN/NOVEDADES Y GUÍA DE TALLES ----*/
.tienda__seccion1 > div h2 {
  color: #000000;
  font-weight: bolder;
  text-align: center;
  text-transform: uppercase;
  margin-top: 5rem;
  margin-bottom: 5rem; }

.seccion1__novedades {
  display: flex;
  justify-content: space-between;
  align-items: center; }

.seccion1__div2 {
  display: flex;
  flex-flow: column nowrap; }
  .seccion1__div2 img {
    border: #000000 solid 0.1rem;
    margin-bottom: 5rem; }

/*---- DESKTOP/TIENDA/MAIN/COLECCIONES ----*/
.tienda__colecciones {
  border-top: solid 0.2rem #000000;
  display: flex;
  flex-direction: column;
  border-bottom: solid 0.2rem #000000; }

.contenedor__h2Felipe {
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0)), url(../images/FelipeWeb.jpg);
  background-size: cover;
  color: #F5EDED;
  font-weight: bolder;
  text-transform: uppercase; }

.colecciones__contenedor p {
  text-align: justify; }

.contenedor__imagenes {
  display: flex;
  flex-direction: column; }

.imagenes__fila {
  display: flex; }

.colecciones__contenedor2 {
  border-top: #D72323 solid 0.2rem;
  display: flex;
  flex-direction: row-reverse; }

.contenedor__h2Henry {
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0)), url(../images/HenriWeb.jpg);
  background-size: cover;
  color: #F5EDED;
  font-weight: bolder;
  text-transform: uppercase;
  text-align: end; }

.colecciones__contenedor2 p {
  text-align: justify; }

/*---- DESKTOP/TIENDA/MAIN/CATEGORÍAS ----*/
.tienda__categorias {
  display: flex;
  flex-direction: column;
  margin-bottom: 5rem; }

.h2Perros {
  margin-top: 2rem;
  color: #000000;
  font-weight: bold;
  background-image: url(../images/Perros.jpg);
  background-size: cover;
  text-align: center; }

.contenedor__imagenes2 {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly; }

.categorias__articulo2 {
  margin-top: 5rem;
  display: flex;
  flex-direction: row-reverse; }

.h2Gatos {
  color: #000000;
  font-weight: bold;
  text-align: end;
  background-image: url(../images/Gatos.jpg);
  background-size: cover;
  text-align: center; }

.categorias__articulo3 {
  display: flex;
  flex-wrap: row wrap;
  justify-content: center; }

.h2Humanos {
  margin-top: 10rem;
  color: #000000;
  font-weight: bold;
  background-image: url(../images/Humanos.jpg);
  background-size: cover;
  text-align: center; }

.galeria2 {
  display: flex;
  flex-flow: column nowrap;
  align-items: space-evenly; }

.contenedor__imagenes3 {
  margin-top: 10rem;
  display: flex;
  justify-content: space-evenly; }

/*---- DESKTOP/VENTA MAYORISTA ----*/
/*---- DESKTOP/VENTA MAYORISTA/MAIN/DIV1 ----*/
.mayoristas__div1 {
  background-color: #D72323; }
  .mayoristas__div1 h1 {
    color: #F5EDED;
    margin-top: 5rem;
    margin-bottom: 5rem;
    font-weight: bolder;
    text-align: center; }

/*---- DESKTOP/VENTA MAYORISTA/MAIN/DIV2 ----*/
.mayoristas__div2 {
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  align-items: center; }
  .mayoristas__div2 h2 {
    margin-top: 5rem;
    margin-bottom: 5rem;
    color: #000000;
    font-weight: bolder;
    text-align: center; }
  .mayoristas__div2 p {
    margin-bottom: 5rem;
    color: #000000;
    text-align: justify; }
    .mayoristas__div2 p a {
      color: #000000;
      text-transform: lowercase;
      font-style: italic;
      font-weight: bold;
      text-decoration: none; }

/*---- DESKTOP/VENTA MAYORISTA/MAIN/DIV3 ----*/
.mayoristas__div3 {
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  align-items: center; }
  .mayoristas__div3 h2 {
    margin-top: 5rem;
    margin-bottom: 5rem;
    color: #000000;
    font-weight: bold;
    text-align: center; }
  .mayoristas__div3 p {
    color: #000000;
    text-align: justify; }
    .mayoristas__div3 p a {
      color: #000000;
      text-transform: lowercase;
      font-style: italic;
      font-weight: bold;
      text-decoration: none; }

/*---- DESKTOP/VENTA MAYORISTA/MAIN/DIV4 ----*/
.mayoristas__div4 {
  margin-top: 5rem;
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  align-items: center; }
  .mayoristas__div4 h3 {
    margin-top: 5rem;
    margin-bottom: 5rem;
    color: #000000;
    font-style: italic;
    font-weight: bold;
    text-align: center; }

/*---- DESKTOP/NOSOTROS ----*/
/*---- DESKTOP/NOSOTROS/MAIN ----*/
.main__nosotros {
  background-color: #F5EDED;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .main__nosotros div h1 {
    color: #000000;
    margin-top: 5rem;
    margin-bottom: 5rem;
    font-weight: bolder;
    text-align: center; }

/*---- DESKTOP/NOSOTROS/SECCION 1----*/
.nosotros__seccion1 {
  display: flex;
  justify-content: center;
  align-items: center; }
  .nosotros__seccion1 div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start; }
    .nosotros__seccion1 div h2 {
      color: #000000;
      font-weight: bold; }
    .nosotros__seccion1 div p {
      color: #000000;
      margin-top: 2rem;
      text-align: justify; }
    .nosotros__seccion1 div img {
      margin-top: 5rem; }

/*---- DESKTOP/NOSOTROS/SECCION 2----*/
.nosotros__seccion2 {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center; }
  .nosotros__seccion2 div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end; }
    .nosotros__seccion2 div h2 {
      color: #000000;
      font-weight: bold; }
    .nosotros__seccion2 div p {
      color: #000000;
      margin-top: 2rem;
      text-align: justify; }

/*---- DESKTOP/CONTACTO ----*/
/*---- DESKTOP/CONTACTO/MAIN ----*/
.main__contacto h1 {
  color: #000000;
  margin-top: 5rem;
  margin-bottom: 5rem;
  font-weight: bolder;
  text-align: center; }

/*---- DESKTOP/CONTACTO/MAIN/FORMULARIO ----*/
.container__contacto {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center; }
  .container__contacto h2 {
    color: #000000;
    text-transform: uppercase;
    text-align: center; }
  .container__contacto form {
    border: solid 0.2rem #000000;
    margin-top: 5rem;
    padding: 10rem;
    align-self: center;
    width: 80%;
    text-align: center;
    font-family: helvetica;
    text-transform: uppercase;
    font-weight: bold; }
    .container__contacto form img {
      margin-bottom: 10rem;
      width: 10%; }
    .container__contacto form div select {
      font-family: helvetica;
      text-transform: uppercase; }

.contenedor__checkbox {
  margin-top: 5rem;
  margin-bottom: 5rem;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center; }

.contenedor__botones {
  display: flex;
  justify-content: space-around;
  align-items: center; }

.formulario__textarea {
  resize: none; }

/*---- DESKTOP/CONTACTO/MAIN/PREGUNTAS FRECUENTES ----*/
.contacto__preguntasFrecuentes {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center; }
  .contacto__preguntasFrecuentes h2 {
    margin-top: 5rem;
    color: #000000;
    font-weight: bold;
    text-align: center;
    margin-bottom: 5rem; }
  .contacto__preguntasFrecuentes div:first-child {
    border-top: solid 0.2rem #000000; }

.slide-in-right {
  animation: slide-in-right 2s ease-in; }

@keyframes slide-in-right {
  0% {
    transform: translateX(1000px);
    opacity: 0; }
  100% {
    transform: translateX(0);
    opacity: 1; } }

.slide-in-left {
  animation: slide-in-left 2s ease-in both; }

@keyframes slide-in-left {
  0% {
    transform: translateX(-1000px);
    opacity: 0; }
  100% {
    transform: translateX(0);
    opacity: 1; } }

.preguntasFrecuentes__nuestrosProductos {
  display: flex;
  flex-flow: column wrap;
  margin-bottom: 5rem; }
  .preguntasFrecuentes__nuestrosProductos h3 {
    margin-top: 2rem;
    font-weight: bold;
    text-align: center; }
  .preguntasFrecuentes__nuestrosProductos h4 {
    margin-top: 2rem;
    font-weight: bold;
    text-align: left; }
  .preguntasFrecuentes__nuestrosProductos p {
    margin-top: 2rem;
    text-align: justify; }
  .preguntasFrecuentes__nuestrosProductos a {
    color: #000000;
    font-weight: bold;
    font-style: italic;
    text-decoration: none; }

.contacto__cambiosDevoluciones {
  display: flex;
  flex-direction: row-reverse; }

/*---- DESKTOP/CONTACTO/MAIN/NEWSLETTER ----*/
.newsletter {
  border-top: solid 0.2rem #000000;
  color: #000000; }
  .newsletter h3 {
    margin-top: 5rem;
    margin-bottom: 5rem;
    text-align: center;
    font-weight: bolder;
    font-style: italic; }
  .newsletter form {
    margin-bottom: 5rem;
    text-transform: uppercase; }

/*---- DESKTOP/ERROR-404/MAIN ----*/
.seccion__error {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 10rem; }
  .seccion__error h2 {
    margin-top: 10rem;
    margin-bottom: 10rem; }
  .seccion__error p a {
    color: #000000;
    font-weight: bolder;
    text-decoration: none; }
    .seccion__error p a:hover {
      color: #3E3636; }
  .seccion__error img {
    margin-top: 5rem; }

/*---- FOOTER ----*/
.footer {
  background-color: #3E3636; }
  .footer .footer__contacto {
    margin-top: 4rem;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: flex-start; }
    .footer .footer__contacto div {
      display: flex;
      flex-flow: column nowrap;
      justify-content: flex-start;
      align-items: flex-start; }
      .footer .footer__contacto div h4 {
        color: #000000;
        text-decoration: underline;
        font-weight: bolder; }
      .footer .footer__contacto div ul {
        padding: 0;
        line-height: 4rem; }
        .footer .footer__contacto div ul li {
          list-style: none; }
          .footer .footer__contacto div ul li a {
            color: #F5EDED;
            text-decoration: none; }
          .footer .footer__contacto div ul li .enlaceRoto {
            color: #D72323; }
  .footer .footer__redes {
    margin-top: 4rem;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: flex-start; }
    .footer .footer__redes h4 {
      color: #000000;
      font-weight: bolder; }
    .footer .footer__redes ul {
      display: flex;
      padding: 0; }
      .footer .footer__redes ul li {
        display: flex; }
        .footer .footer__redes ul li a {
          padding: 2.5rem; }
    .footer .footer__redes div {
      display: flex;
      flex-flow: column nowrap; }
      .footer .footer__redes div h4 {
        color: #000000; }
      .footer .footer__redes div a {
        padding: 1rem 2rem 1rem 2rem;
        text-align: center; }
  .footer .footer__mediosDePago {
    margin-top: 5rem;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around; }
    .footer .footer__mediosDePago img {
      transform: scale(0.75); }
  .footer .footer__copyright {
    text-align: center;
    margin-top: 5rem;
    margin-bottom: 2.5rem;
    text-transform: uppercase; }
    .footer .footer__copyright a {
      color: #F5EDED;
      text-decoration: none; }

.boton, .boton--blanco, .boton--corto, .boton--largo, .boton--nosotros, .boton--formulario, .boton--newsletter {
  background-color: #000000;
  color: #F5EDED;
  text-decoration: none;
  text-transform: uppercase;
  padding: 2rem;
  transition: background-color 0.5s; }
  .boton:hover, .boton--blanco:hover, .boton--corto:hover, .boton--largo:hover, .boton--nosotros:hover, .boton--formulario:hover, .boton--newsletter:hover {
    color: #F5EDED;
    background-color: #3E3636; }

.boton--blanco {
  width: 20%;
  background-color: #F5EDED;
  color: #000000;
  padding: 1rem;
  text-align: center;
  transition: all 0.5s; }
  .boton--blanco:hover {
    color: #F5EDED;
    background-color: #3E3636; }

.boton--corto {
  width: 15%;
  text-align: center;
  margin-bottom: 2.5rem; }

.boton--largo {
  border: none;
  text-align: center;
  margin-top: 3rem;
  margin-bottom: 5rem; }

.boton--nosotros {
  margin-top: 5rem;
  padding: 2rem 5rem 2rem 5rem; }

.boton--formulario {
  margin-top: 2rem;
  padding: 1rem;
  border-radius: 0; }

.boton--newsletter {
  border: none; }

.btn--facebook {
  transition: all 0.5s; }
  .btn--facebook:hover {
    background-color: #3b5998; }

.btn--instagram {
  transition: all 0.5s; }
  .btn--instagram:hover {
    background-color: #82008f; }

.btn--whatsapp {
  transition: all 0.5s; }
  .btn--whatsapp:hover {
    background-color: #25d366; }

.btn--mail {
  transition: all 0.5s; }
  .btn--mail:hover {
    background-color: #F5EDED; }

.facebook {
  border: solid 0.1rem #3b5998; }

.instagram {
  border: solid 0.1rem #82008f; }

.whatsapp {
  border: solid 0.1rem #25d366; }

.mail {
  border: solid 0.1rem #F5EDED; }
