// Mapas
$redes:(
    facebook: #3b5998,
    instagram: #82008f,
    whatsapp: #25d366,
    mail: $color-cuaternario,
);
@each $red, $bgColor in $redes{
    .btn--#{$red}{
        transition: all 0.5s;
        &:hover{
            background-color: $bgColor;
        } 
    }
}
.facebook{
    border: solid 0.1rem map-get($redes, facebook);
}
.instagram{
    border: solid 0.1rem map-get($redes, instagram);
}
.whatsapp{
    border: solid 0.1rem map-get($redes, whatsapp);
}
.mail{
    border: solid 0.1rem map-get($redes, mail);
}