//Mixins
@mixin sinMargen($margin, $padding){
    margin: $margin;
    padding: $padding;
}

.sinMargen{
    @include sinMargen(0, 0);
}

@mixin flexbox($display, $direction, $corte, $justify, $align){
    display: $display;
    flex-flow: $direction $corte;
    justify-content: $justify;
    align-items: $align;
}