//paleta de colores
$color-primario: #131313;
$color-secundario: #a91fff;
$color-terciario: #ffdd33;
$color-cuaternario: #e0005a;
$color-quinario: #00bbe0;
$color-fondo: #fcfcfc;

//bordes
$borde: solid 0.2rem $color-primario;