/*---- FOOTER ----*/
.footer{
    background-color: $color-secundario;
    .footer__contacto{
        margin-top: 4rem;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-evenly;
        align-items: flex-start;
        div{
            display: flex;
            flex-flow: column nowrap;
            justify-content: flex-start;
            align-items: flex-start;
            h4{
                color: $color-primario;
                text-decoration: underline;
                font-weight: bolder;
            }
            ul{
                padding: 0;
                line-height: 4rem;
                li{
                    list-style: none;
                    a{
                        color: $color-cuaternario;
                        text-decoration: none;
                    }
                    .enlaceRoto{
                        color: $color-terciario;
                    }
                }
            }
        }
    }
    .footer__redes{
        margin-top: 4rem;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        h4{
            margin-bottom: 2rem;
            color: $color-primario;
            font-weight: bolder;
        }
        ul{
            display: flex;
            padding: 0;
            li{
                display: flex;
                a{
                    padding: 2.5rem;
                }
            }
        }
        div{
            display: flex;
            flex-flow: column nowrap;
            align-items: center;
            h4{
                margin-bottom: 2rem;
                color: $color-primario;
            }
            a{
                padding: 1rem 2rem 1rem 2rem;
                text-align: center;
            }
        }
    }
    .footer__mediosDePago{
        margin-top: 4rem;
        display:flex;
        flex-flow: row wrap;
        justify-content: center;
        h4{
            color: $color-primario;
            font-weight: bolder;
        }
        img{
            transform: scale(0.5);
        }
    }
    .footer__copyright{
        text-align: center;
        margin-top: 5rem;
        margin-bottom: 2.5rem;
        text-transform: uppercase;
        a{
            color: $color-cuaternario;
            text-decoration: none;
        }
    }
}