/*---- MOBILE ----*/
@media only screen and (max-width: 991px){
    /*---- MOBILE/INDEX ----*/
    .fondo{
        background-color: $color-fondo;
    }
    /*---- MOBILE/INDEX/HERO ----*/
    .hero{
        @include flexbox(flex, row, nowrap, center, center);
        background-color: $color-tercerfondo;
    }
    .titulo{
        height: 15vh;
        @include flexbox(flex, row, nowrap, center, center);
        background-color: $color-primario;
        color: $color-fondo;
        h1{
            text-align: center;
            text-transform: lowercase;
            span{
                letter-spacing: 0.2rem;
                font-weight: bold;
            }
        }
    }
    .slider{
        height: 20vh;
        display: flex;
        flex-flow: row wrap;
        animation: slide 20s;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in;
        animation-duration: 5s;
        @keyframes slide{
            0%{
                background-color: $color-quinario;
                background-repeat: no-repeat;
                background-size: contain;
            }
            35%{
                background-color: $color-secundario;
                background-repeat: no-repeat;
                background-size: contain;
            }
            70%{
                background-color: $color-cuaternario;
                background-repeat: no-repeat;
                background-size: contain;
            }
            100%{
                background-color: $color-quinario;
                background-repeat: no-repeat;
                background-size: contain;
            }
        }
        div{
            @include flexbox(flex, row, nowrap, center, center);
            .verMas{
                display:none;
            }
            .monocromo{
                a{
                    text-align: center;
                }
            }
        }
    }
    /*---- MOBILE/INDEX/COLECCIONES ----*/
    .colecciones{
        height: 25vh;
        display: flex;
        flex-flow: column nowrap;
        div{
            margin-top: 2.5rem;
            margin-bottom: 2.5rem;
            @include flexbox(flex, row, nowrap, center, center);
            text-transform: uppercase;
            h2{
                text-align: center;
                font-size: $mobile;
                text-transform: lowercase;
                span{
                    font-weight: bold;
                    color: transparent;
                    background: -webkit-linear-gradient(to right, $color-secundario, $color-cuaternario);
                    background: linear-gradient(to right, $color-secundario, $color-cuaternario);
                    -webkit-background-clip: text;
                    background-clip: text;
                }
            }
        }
        article{
            height: 80%;
            background-image: url(../images/Banner3.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            div{
                .verMasColecciones{
                    display:none;
                }
                .bouquet{
                    a{
                        text-align: center;
                    }
                }
            }
        }
    }
    /*---- MOBILE/INDEX/CATEGORIAS ----*/
    .categorias{
        margin-top: 10rem;
        gap: 2.5rem;
        .categorias__perros{
            max-width: 50rem;
            div{
                border: none;
                .categorias__card{
                    background-color: $color-fondo;
                    @include flexbox(flex, column, nowrap, flex-start, flex-end);
                }
            }
        }
        .categorias__gatos{
            max-width: 50rem;
            div{
                border: none;
                .categorias__card{
                    background-color: $color-fondo;
                    @include flexbox(flex, column, nowrap, flex-start, flex-end);
                }
            }
        }
        .categorias__humanos{
            max-width: 50rem;
            div{
                border: none;
                .categorias__card{
                    background-color: $color-fondo;
                    @include flexbox(flex, column, nowrap, flex-start, flex-end);
                }
            }
        }
    }
    /*---- MOBILE/INDEX/DESTACADOS ----*/
    .destacados{
        margin-top: 5rem;
        background-color: $color-fondo;
        h2{
            font-size: $mobile;
            margin-bottom: 5rem;
            text-align: center;
            text-transform: lowercase;
            span{
                font-weight: bold;
                color: transparent;
                background: -webkit-linear-gradient(to right, $color-secundario, $color-cuaternario);
                background: linear-gradient(to right, $color-secundario, $color-cuaternario);
                -webkit-background-clip: text;
                background-clip: text;
            }
        }
    }
    /*---- MOBILE/INDEX/CLIENTES ----*/
    .clientes{
        margin-top: 5rem;
        margin-bottom: 10rem;
        .clientes__newsletter{
            @include flexbox(flex, column, nowrap, flex-start, center);
            h3{
                text-align: center;
                font-weight: bold;
            }
            .formulario{
                min-width: 20rem;
                margin-top: 5rem;
                margin-bottom: 5rem;
                @include flexbox(flex, column, nowrap, flex-start, stretch);
                .formulario__campos{
                    @include flexbox(flex, column, nowrap, space-evenly, stretch);
                    line-height: 3rem;
                }
                .formulario__boton{
                    text-align: center;
                    margin-top: 2.5rem;
                }
            }
        }
        .clientes__instagram{
            margin-top: 2.5rem;
            @include flexbox(flex, column, nowrap, flex-start, center);
            .clientes__titulo{
                font-weight: bold;
                color: $color-primario;
                text-decoration: none;
                margin-bottom: 5rem;
            }
        }
    }
    /*---- MOBILE/TIENDA ----*/
    /*---- MOBILE/TIENDA/TÍTULO ----*/
    .tienda__fondo{
        background: $color-fondo;
        .tienda__titulo{
            height: 30vh;
            background-image: url(../images/BannerProductosMobile.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            @include flexbox(flex, row, nowrap, center, center);
            h1{
                margin-left: 60%;
                color: $color-primario;
                font-weight: bold;
                font-size: $mobile;
            }
        }
    }
    /*---- MOBILE/TIENDA/CATEGORÍAS ----*/
    .tienda__categorias{
        .categorias__divGrandeM{
            margin-top: 1rem;
            background-color: $color-segundofondo;
            @include flexbox(flex, row, nowrap, space-evenly, center);
            text-decoration: none;
            color: $color-primario;
            transition: all 0.5s;
            &:hover{
                background-color: $color-primario;
                color: $color-fondo;
            }
        }
        .categorias__divChicoM{
            margin-top: 1rem;
            background-color: $color-segundofondo;
            @include flexbox(flex, column, nowrap, center, center);
            text-decoration: none;
            color: $color-primario;
            transition: all 0.5s;
            &:hover{
                background-color: $color-primario;
                color: $color-fondo;
            }
            h2{
                padding-top: 2rem;
                padding-bottom: 2rem;
            }
        }
    }
    /*---- MOBILE/TIENDA/NEWSLETTER ----*/
    .tienda__newsletter{
        margin-top: 5rem;
        @include flexbox(flex, column, nowrap, flex-start, stretch);
        margin-bottom: 10rem;
        h3{
            text-align: center;
            margin-bottom: 2.5rem;
        }
        form{
            line-height: 2.5rem;
            .tienda__campos{
                @include flexbox(flex, column, nowrap, center, stretch);
            }
            .tienda__boton{
                text-align: center;
                margin-top: 2.5rem;
            }
        }
    }
        /*---- MOBILE/REVENDEDORES ----*/
    /*---- MOBILE/REVENDEDORES/DIV1 ----*/
    .main__mayoristas{
        background-color: $color-fondo;
    }
    .mayoristas__div1{
        height: 30vh;
        background-image: url(../images/Banner-Mayoristas-Color.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }
    /*---- MOBILE/REVENDEDORES/DIV2 ----*/
    .mayoristas__div2{
        @include flexbox(flex, column, nowrap, flex-start, center);
        h2{
            margin-top: 5rem;
            margin-bottom: 5rem;
            color: $color-cuaternario;
            text-transform: lowercase;
            font-weight: bold;
            text-align: center;
        }
    }
    /*---- MOBILE/REVENDEDORES/DIV3 ----*/
    .mayoristas__div3{
        @include flexbox(flex, column, nowrap, flex-start, center);
        h1{
            margin-top: 5rem;
            margin-bottom: 2.5rem;
            color: $color-cuaternario;
            text-transform: lowercase;
            font-weight: bold;
            text-align: center;
        }
        h3{
            margin-top: 2.5rem;
            margin-bottom: 2.5rem;
            color: $color-primario;
            font-weight: bold;
            text-align: center;
        }
        p{
            color: $color-primario;
            text-align: justify;
            a{
                color: $color-primario;
                text-transform: lowercase;
                font-style: italic;
                font-weight: bold;
                text-decoration: none;
            }
        }
    }
    /*---- MOBILE/REVENDEDORES/DIV4 ----*/
    .mayoristas__div4{
        margin-top: 2.5rem;
        margin-bottom: 10rem;
        @include flexbox(flex, column, nowrap, flex-start, center);
        h3{
            margin-top: 2.5rem;
            margin-bottom: 2.5rem;
            color: $color-primario;
            font-weight: bold;
            text-align: center;
        }
        p{
            color: $color-primario;
            text-align: justify;
            a{
                color: $color-primario;
                text-transform: lowercase;
                font-style: italic;
                font-weight: bold;
                text-decoration: none;
            }
        }
    }
    /*---- MOBILE/NOSOTROS ----*/
    /*---- MOBILE/NOSOTROS/TÍTULO ----*/
    .main__nosotros{
        background-color: $color-fondo;
        @include flexbox(flex, column, nowrap, center, center);
        div{
            h1{
                color: $color-cuaternario;
                font-size: $mobile;
                margin-top: 5rem;
                margin-bottom: 5rem;
                text-transform: lowercase;
                text-align: center;
                span{
                    letter-spacing: 0.2rem;
                    font-weight: bold;
                }
            }
        }
    }
    /*---- MOBILE/NOSOTROS/SECCION 1----*/
    .nosotros__seccion1{
        div{
            @include flexbox(flex, column, nowrap, center, center);
            img{
                max-height: 40rem;
            }
            h2{
                margin-top: 2.5rem;
                font-size: $mobile;
                color: $color-primario;
                font-weight: bold;
                text-align: center;
            }
            p{
                color: $color-primario;
                margin-top: 2rem;
                text-align: justify;
            }
        }
    }
    /*---- MOBILE/NOSOTROS/SECCION 2----*/
    .nosotros__seccion2{
        margin-top: 5rem;
        @include flexbox(flex, column, nowrap, center, center);
        div{
            h2{
                font-size: $mobile;
                color: $color-cuaternario;
                text-transform: lowercase;
                text-align: center;
                margin-bottom: 5rem;
                span{
                    letter-spacing: 0.2rem;
                    font-weight: bold;
                }
            }
        }
        div{
            p{
                color: $color-primario;
                margin-top: 2rem;
                text-align: justify;
                margin-bottom: 10rem;
            }
        }
    }
    /*---- MOBILE/CONTACTO ----*/
    .contacto__fondo{
        background-color: $color-fondo;
    }
    /*---- MOBILE/CONTACTO/PREGUNTAS FRECUENTES ----*/
    .contacto__preguntasFrecuentes{
        h2{
            margin-top: 5rem;
            color: $color-cuaternario;
            font-size: $mobile;
            font-weight: bold;
            text-transform: lowercase;
            margin-bottom: 5rem;
            text-align: center;
        }
        div{
            text-align: center;
            div{
                h3{
                    button{
                        color: $color-primario;
                        background-color: $color-fondo;
                        &:focus{
                            color: $color-cuaternario;
                            background-color: $color-fondo;
                            box-shadow: none;
                        }
                    }
                }
            }
        }
    }
    .preguntasFrecuentes__nuestrosProductos{
        @include flexbox(flex, column, nowrap, flex-start, stretch);
        margin-bottom: 5rem;
        color: $color-primario;
        h3{
            margin-top: 2rem;
            font-weight: bold;
        }
        h4{
            margin-top: 2rem;
        }
        p{
            margin-top: 2rem;
            text-align: justify;
            a{
                color: $color-primario;
                font-weight: bold;
                font-style: italic;
                text-decoration: none;
            }
        }
    }
    /*---- MOBILE/CONTACTO/FORMULARIO ----*/
    .contenedor__contacto{
        @include flexbox(flex, column, nowrap, flex-start, stretch);
        .contacto__titulo{
            margin-top: 2.5rem;
            color: $color-cuaternario;
            font-size: $mobile;
            font-weight: bold;
            text-transform: lowercase;
            margin-bottom: 5rem;
            text-align: center;
        }
        form{
            margin-top: 2rem;
            text-transform: uppercase;
            color: $color-primario;
            line-height: 5rem;
            div{
                select{
                    text-transform: uppercase;
                }
            } 
        }
    }
    .formulario__botones{
        @include flexbox(flex, column, nowrap, space-between, stretch);
        gap: 2rem;
    }
    .formulario__textarea{
        resize: none;
    }
    /*---- MOBILE/CONTACTO/NEWSLETTER ----*/
    .contacto__newsletter{
        h3{
            color: $color-cuaternario;
            margin-top: 10rem;
            margin-bottom: 5rem;
            font-size: $mobile;
            font-weight: bold;
            text-align: center;
        }
        .newsletter__formulario{
            @include flexbox(flex, column, nowrap, flex-start, stretch);
            color: $color-primario;
            margin-bottom: 5rem;
            text-transform: uppercase;
            .newsletter__campos{
                @include flexbox(flex, column, nowrap, flex-start, stretch);
            }
            .newsletter__boton{
                text-align: center;
                margin-top: 2.5rem;
            }
        }
    }
    /*---- MOBILE/ERROR-404 ----*/
    .seccion__error{
        @include flexbox(flex, column, nowrap, center, center);
        margin-bottom: 10rem;
        h2{
            text-align: center;
            margin-top: 5rem;
            margin-bottom: 5rem;
            span{
                font-weight: bold;
            }
        }
        p{
            text-align: justify;
            a{
                color: $color-primario;
                font-weight: bolder;
                text-decoration: none;
                &:hover{
                    color: $color-secundario;
                }
            }
        }
        img{
            margin-top: 5rem;
        }
    }
}

/*---- DESKTOP ----*/
@media only screen and (min-width: 992px){
    /*---- DESKTOP/INDEX ----*/
    .fondo{
        background-color: $color-fondo;
    }
    /*---- DESKTOP/INDEX/HERO ----*/
    .hero{
        height: 70vh;
        background-image: url(../images/BannerPrincipal.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        img{
            display: none;
        }
    }
    .titulo{
        height: 15vh;
        @include flexbox(flex, row, nowrap, center, center);
        background-color: $color-primario;
        color: $color-fondo;
        h1{
            font-size: $desktop;
            text-align: center;
            text-transform: lowercase;
            span{
                letter-spacing: 0.2rem;
                font-weight: bold;
            }
        }
    }
    .slider{
        height: 30vh;
        @include flexbox(flex, row, nowrap, flex-start, stretch);
        animation: slide 20s;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in;
        animation-duration: 3s;
        @keyframes slide{
            0%{
                background-image: url(../images/Banner2.jpg);
                background-repeat: no-repeat;
                background-position: center;
                background-size: cover;
            }
            35%{
                background-image: url(../images/Banner2b.jpg);
                background-repeat: no-repeat;
                background-position: center;
                background-size: cover;
            }
            70%{
                background-image: url(../images/Banner2c.jpg);
                background-repeat: no-repeat;
                background-position: center;
                background-size: cover;
            }
            100%{
                background-image: url(../images/Banner2.jpg);
                background-repeat: no-repeat;
                background-position: center;
                background-size: cover;
            }
        }
        div{
            @include flexbox(flex, row, nowrap, center, center);
            .monocromo{
                display: none;
                a{
                    text-align: center;
                }
            }
        }
    }
    /*---- DESKTOP/INDEX/COLECCIONES ----*/
    .colecciones{
        height: 40vh;
        @include flexbox(flex, column, nowrap, flex-start, stretch);
        div{
            @include flexbox(flex, row, nowrap, center, center);
            text-transform: uppercase;
            h2{
                margin-top: 5rem;
                margin-bottom: 5rem;
                font-size: $desktop;
                text-transform: lowercase;
                span{
                    font-weight: bold;
                    color: transparent;
                    background: -webkit-linear-gradient(to right, $color-secundario, $color-cuaternario);
                    background: linear-gradient(to right, $color-secundario, $color-cuaternario);
                    -webkit-background-clip: text;
                    background-clip: text;
                }
            }
        }
        article{
            height: 80%;
            background-image: url(../images/Banner3.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            div{
                .bouquet{
                    display: none;
                }
            }
        }
    }
    /*---- DESKTOP/INDEX/CATEGORIAS ----*/
    .categorias{
        margin-top: 20rem;
        .categorias__perros{
            div{
                border: none;
                .categorias__card{
                    background-color: $color-fondo;
                    @include flexbox(flex, column, nowrap, flex-start, flex-end);
                }
            }
        }
        .categorias__gatos{
            div{
                border: none;
                .categorias__card{
                    background-color: $color-fondo;
                    @include flexbox(flex, column, nowrap, flex-start, flex-end);
                }
            }
        }
        .categorias__humanos{
            div{
                border: none;
                .categorias__card{
                    background-color: $color-fondo;
                    @include flexbox(flex, column, nowrap, flex-start, flex-end);
                }
            }
        }
    }
    /*---- DESKTOP/INDEX/DESTACADOS ----*/
    .destacados{
        background-color: $color-fondo;
        h2{
            font-size: $desktop;
            margin-top: 5rem;
            margin-bottom: 5rem;
            text-align: center;
            text-transform: lowercase;
            span{
                font-weight: bold;
                color: transparent;
                background: -webkit-linear-gradient(to right, $color-secundario, $color-cuaternario);
                background: linear-gradient(to right, $color-secundario, $color-cuaternario);
                -webkit-background-clip: text;
                background-clip: text;
            }
        }
    }
    /*---- DESKTOP/INDEX/CLIENTES ----*/
    .clientes{
        margin-top: 10rem;
        margin-bottom: 10rem;
        .clientes__newsletter{
            @include flexbox(flex, column, nowrap, flex-start, stretch);
            h3{
                text-align: center;
                font-weight: bold;
            }
            .formulario{
                margin-top: 5rem;
                @include flexbox(flex, column, nowrap, flex-start, stretch);
                .formulario__campos{
                    @include flexbox(flex, row, nowrap, center, stretch);
                    gap: 2rem;
                    div{
                        input{
                            width: 30rem;
                        }
                    }
                }
                .formulario__boton{
                    text-align: center;
                    margin-top: 2.5rem;
                }
            }
        }
        .clientes__instagram{
            @include flexbox(flex, column, nowrap, flex-start, center);
            .clientes__titulo{
                font-weight: bold;
                color: $color-primario;
                text-decoration: none;
                margin-bottom: 5rem;
            }
        }
    }
    /*---- DESKTOP/TIENDA ----*/
    /*---- DESKTOP/TIENDA/TÍTULO ----*/
    .tienda__fondo{
        background: $color-fondo;
        .product-container{
            @include flexbox(flex, row, wrap, space-evenly, center);
            margin-top: 5rem;
            margin-bottom: 10rem;
            .modal-container{
                margin-top: 6rem;
                padding: 0.5rem;
                @include flexbox(flex, column, nowrap, flex-start, stretch);
                position: fixed;
                top: 0;
                right: 0;
                background-color: $color-fondo;
                display: none;
                transition: opacity 0.3 ease;
                z-index: 100;
                .modal-cart{
                    width: 40rem;
                    background-color: $color-fondo;
                    padding: 1rem;
                    .modal-header{
                        @include flexbox(flex, row, nowrap, space-between, center);
                        border: none;
                        h3{
                            text-transform: uppercase;
                            margin-top: 4rem;
                            font-size: 2rem;
                            font-weight: bolder;
                            transition: all 0.5s;
                                    &:hover{
                                        color: $color-secundario;
                                    }
                        }
                    }
                    .product-price{
                        font-size: 1.5rem;
                        span{
                            font-weight: bolder;
                            text-transform: uppercase;
                        }
                        .full-price{
                            font-weight: bolder;
                            transition: all 0.5s;
                            &:hover{
                                color: $color-secundario;
                            }
                        }
                    }
                    .button--container{
                        @include flexbox (flex, row, nowrap, space-between, center);
                        gap: 5rem;
                    }
                }
            }
            .modal-active{
                opacity: 1;
                display: block;
                z-index: 5;
            }
        }
        .product-in-cart{
            margin: 0.5rem 0;
            padding: 0.5rem 0.1rem;
            @include flexbox(flex, row, nowrap, space-between, center);
            background-color: $color-fondo;
            
            p{
                font-size: 1.25rem;
            }
            img{
                width: 5rem;
                height: 5rem;
            }
        }
        .after-purchase{
            h2{
                margin-bottom: 2rem;
                text-align: center;
                font-size: 1.5rem;
            }
            p{
                margin-bottom: 2rem;
                font-size: 1.5rem;
            }
        }
        .tienda__titulo{
            height: 60vh;
            background-image: url(../images/BannerProductos1.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            text-align: center;
            h1{
                font-weight: bold;
                margin-top: 20rem;
                font-size: $desktop;
                margin-bottom: 5rem;
            }
        }
    }
    .seccion1__div2{
        @include flexbox(flex, column, nowrap, flex-start, stretch);
        img{
            margin-top: 5rem;
            margin-bottom: 5rem;
        }
    }
    /*---- DESKTOP/TIENDA/NEWSLETTER ----*/
    .tienda__newsletter{
        margin-top: 5rem;
        @include flexbox(flex, column, nowrap, flex-start, stretch);
        margin-bottom: 10rem;
        h3{
            text-align: center;
            margin-bottom: 2.5rem;
        }
        form{
            line-height: 5rem;
            .tienda__campos{
                @include flexbox(flex, row, nowrap, center, stretch);
                gap: 2rem;
                div{
                    input{
                        width: 30rem;
                    }
                }
            }
            .tienda__boton{
                text-align: center;
                margin-top: 2.5rem;
            }
        }
    }
    /*---- DESKTOP/REVENDEDORES ----*/
    /*---- DESKTOP/REVENDEDORES/DIV1 ----*/
    .main__mayoristas{
        background-color: $color-fondo;
    }
    .mayoristas__div1{
        height: 30vh;
        background-image: url(../images/Banner-Mayoristas-Color.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }
    /*---- DESKTOP/REVENDEDORES/DIV2 ----*/
    .mayoristas__div2{
        @include flexbox(flex, column, nowrap, flex-start, center);
        h2{
            font-size: $desktop;
            margin-top: 10rem;
            margin-bottom: 5rem;
            color: $color-cuaternario;
            text-transform: lowercase;
            font-weight: bold;
            text-align: center;
        }
    }
    /*---- DESKTOP/REVENDEDORES/DIV3 ----*/
    .mayoristas__div3{
        @include flexbox(flex, column, nowrap, flex-start, center);
        h1{
            font-size: $desktop;
            margin-top: 10rem;
            margin-bottom: 5rem;
            color: $color-cuaternario;
            text-transform: lowercase;
            font-weight: bold;
            text-align: center;
        }
        h3{
            margin-top: 5rem;
            margin-bottom: 5rem;
            color: $color-primario;
            font-weight: bold;
            text-align: center;
        }
        p{
            color: $color-primario;
            text-align: justify;
            a{
                color: $color-primario;
                text-transform: lowercase;
                font-style: italic;
                font-weight: bold;
                text-decoration: none;
            }
        }
    }
    /*---- DESKTOP/REVENDEDORES/DIV4 ----*/
    .mayoristas__div4{
        margin-top: 2.5rem;
        margin-bottom: 10rem;
        @include flexbox(flex, column, nowrap, flex-start, center);        
        h3{
            margin-top: 2.5rem;
            margin-bottom: 5rem;
            color: $color-primario;
            font-weight: bold;
            text-align: center;
        }
        p{
            color: $color-primario;
            text-align: justify;
            a{
                color: $color-primario;
                text-transform: lowercase;
                font-style: italic;
                font-weight: bold;
                text-decoration: none;
            }
        }
    }
    /*---- DESKTOP/NOSOTROS ----*/
    /*---- DESKTOP/NOSOTROS/TÍTULO ----*/
    .main__nosotros{
        background-color: $color-fondo;
        @include flexbox(flex, column, nowrap, center, center);
        div{
            h1{
                color: $color-cuaternario;
                font-size: $desktop;
                margin-top: 10rem;
                margin-bottom: 10rem;
                text-transform: lowercase;
                text-align: center;
                span{
                    letter-spacing: 0.2rem;
                    font-weight: bold;
                }
            }
        }
    }
    /*---- DESKTOP/NOSOTROS/SECCION 1----*/
    .nosotros__seccion1{
        div{
            h2{
                color: $color-primario;
                font-weight: bold;
            }
            p{
                color: $color-primario;
                margin-top: 2rem;
                text-align: justify;
            }
        }
    }
    /*---- DESKTOP/NOSOTROS/SECCION 2----*/
    .nosotros__seccion2{
        margin-top: 5rem;
        margin-bottom: 10rem;
        @include flexbox(flex, column, nowrap, center, center);
        div{
            h2{
                font-size: $desktop-sm;
                color: $color-cuaternario;
                text-transform: lowercase;
                text-align: center;
                span{
                    letter-spacing: 0.2rem;
                    font-weight: bold;
                }
            }
        }
        div{
            p{
                color: $color-primario;
                margin-top: 5rem;
                text-align: justify;
            }
        }
    }
    /*---- DESKTOP/CONTACTO ----*/
    /*---- DESKTOP/CONTACTO/FONDO ----*/
    .contacto__fondo{
        background-color: $color-fondo;
    }
    /*---- DESKTOP/CONTACTO/PREGUNTAS FRECUENTES ----*/
    .contacto__preguntasFrecuentes{
        h2{
            margin-top: 10rem;
            color: $color-cuaternario;
            font-size: $desktop;
            font-weight: bold;
            text-transform: lowercase;
            margin-bottom: 5rem;
        }
        div{
            div{
                h3{
                    button{
                        color: $color-primario;
                        background-color: $color-fondo;
                        &:focus{
                            color: $color-cuaternario;
                            background-color: $color-fondo;
                            box-shadow: none;
                        }
                    }
                }
            }
        }
    }
    .preguntasFrecuentes__nuestrosProductos{
        @include flexbox(flex, column, nowrap, flex-start, stretch);
        margin-bottom: 5rem;
        color: $color-primario;
        h3{
            margin-top: 2rem;
            font-weight: bold;
        }
        h4{
            margin-top: 2rem;
        }
        p{
            margin-top: 2rem;
            text-align: justify;
            a{
                color: $color-primario;
                font-weight: bold;
                font-style: italic;
                text-decoration: none;
            }
        }
    }
    /*---- DESKTOP/CONTACTO/FORMULARIO ----*/
    .contenedor__contacto{
        @include flexbox(flex, column, nowrap, flex-start, stretch);
        .contacto__titulo{
            margin-top: 10rem;
            color: $color-cuaternario;
            font-size: $desktop;
            font-weight: bold;
            text-transform: lowercase;
            margin-bottom: 5rem;
        }
        form{
            margin-top: 2rem;
            text-transform: uppercase;
            font-weight: bold;
            color: $color-primario;
            div{
                select{
                    font-family: now;
                    text-transform: uppercase;
                }
            } 
        }
    }
    .formulario__botones{
        @include flexbox(flex, row, nowrap, space-between, stretch);
    }
    .formulario__textarea{
        resize: none;
    }
    /*---- DESKTOP/CONTACTO/NEWSLETTER ----*/
    .contacto__newsletter{
        h3{
            color: $color-cuaternario;
            margin-top: 10rem;
            margin-bottom: 2.5rem;
            font-size: $desktop-sm;
            font-weight: bold;
        }
        .newsletter__formulario{
            @include flexbox(flex, column, nowrap, flex-start, stretch);
            color: $color-primario;
            margin-bottom: 5rem;
            text-transform: uppercase;
            .newsletter__campos{
                @include flexbox(flex, row, nowrap, flex-start, stretch);
                gap: 2rem;
            }
            .newsletter__boton{
                margin-top: 2.5rem;
            }
        }
    }
    /*---- DESKTOP/ERROR-404 ----*/
    .seccion__error{
        @include flexbox(flex, column, nowrap, center, center);
        margin-bottom: 10rem;
        h2{
            margin-top: 10rem;
            margin-bottom: 10rem;
            span{
                font-weight: bold;
            }
        }
        p{
            a{
                color: $color-primario;
                font-weight: bolder;
                text-decoration: none;
                &:hover{
                    color: $color-secundario;
                }
            }
        }
        img{
            margin-top: 5rem;
        }
    }
}
