/*---- MOBILE ----*/

@media only screen and (max-width: 991px){
    /*---- MOBILE/INDEX/MAIN ----*/
    .fondo{
        background-color: $color-fondo;
    }
    /*---- MOBILE/INDEX/MAIN/HERO ----*/
    .titulo{
        height: 15vh;
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
        background-color: $color-primario;
        color: $color-fondo;
        h1{
            text-align: center;
            text-transform: lowercase;
            span{
                font-weight: bold;
            }
        }
    }

    .slider{
        height: 20vh;
        display: flex;
        flex-flow: row wrap;
        animation: slide 20s;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in;
        animation-duration: 5s;
        @keyframes slide{
            0%{
                background-color: $color-quinario;
                background-repeat: no-repeat;
                background-size: contain;
            }
            35%{
                background-color: $color-secundario;
                background-repeat: no-repeat;
                background-size: contain;
            }
            70%{
                background-color: $color-cuaternario;
                background-repeat: no-repeat;
                background-size: contain;
            }
            100%{
                background-color: $color-quinario;
                background-repeat: no-repeat;
                background-size: contain;
            }
        }
        div{
            display: flex;
            flex-flow: row nowrap;
            justify-content: center;
            align-items: center;
            .verMas{
                display:none;
            }
            .monocromo{
                a{
                    text-align: center;
                }
            }
        }
    }
    /*---- MOBILE/INDEX/MAIN/COLECCIONES ----*/
    .colecciones{
        height: 25vh;
        display: flex;
        flex-flow: column nowrap;
        div{
            margin-top: 2.5rem;
            margin-bottom: 2.5rem;
            display: flex;
            flex-flow: row nowrap;
            justify-content: center;
            align-items: center;
            text-transform: uppercase;
            h2{
                text-align: center;
                font-size: 2rem;
                text-transform: lowercase;
                span{
                    font-weight: bold;
                    color: transparent;
                    background: -webkit-linear-gradient(to right, $color-secundario, $color-cuaternario);
                    background: linear-gradient(to right, $color-secundario, $color-cuaternario);
                    -webkit-background-clip: text;
                    background-clip: text;
                }
            }
        }
        article{
            height: 80%;
            background-image: url(../images/Banner3.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            div{
                .verMasColecciones{
                    display:none;
                }
                .bouquet{
                    a{
                        text-align: center;
                    }
                }
            }
        }
    }
    /*---- MOBILE/INDEX/MAIN/CATEGORIAS ----*/
    .categorias{
        margin-top: 10rem;
        .categorias__perros{
            height: 50vh;
            background-image: url(../images/PerrosBN.jpg);
            background-position: top;
            background-repeat: no-repeat;
            background-size: cover;
            display: flex;
            flex-flow: column nowrap;
            justify-content: center;
            align-items: flex-start;
            margin-bottom: 2.5rem;
            h3{
                display: none;
                font-weight: bolder;
                text-transform: uppercase;
            }
            a{
                transform: scale(0.75);
                text-decoration: none;
                text-align: center;
            }
        }
        .categorias__gatos{
            height: 50vh;
            background-image: url(../images/GatosBN.jpg);
            background-position: top;
            background-repeat: no-repeat;
            background-size: cover;
            display: flex;
            flex-flow: column nowrap;
            justify-content: center;
            align-items: flex-end;
            margin-bottom: 2.5rem;
            h3{
                display: none;
                font-weight: bolder;
                text-transform: uppercase;
            }
            a{
                transform: scale(0.75);
                text-decoration: none;
                text-align: center;
            }
        }
        .categorias__humanos{
            height: 50vh;
            background-image: url(../images/HumanosBN.jpg);
            background-position: top;
            background-repeat: no-repeat;
            background-size: cover;
            display: flex;
            flex-flow: column nowrap;
            justify-content: center;
            align-items: flex-start;
            margin-bottom: 2.5rem;
            h3{
                display: none;
                font-weight: bolder;
                text-transform: uppercase;
            }
            a{
                transform: scale(0.75);
                text-decoration: none;
                text-align: center;
            }
        }
    }
    /*---- MOBILE/INDEX/MAIN/DESTACADOS ----*/
    .destacados{
        margin-top: 2.5rem;
        background-color: $color-fondo;
        h2{
            font-size: 2rem;
            margin-bottom: 5rem;
            text-align: center;
            text-transform: lowercase;
            span{
                font-weight: bold;
                color: transparent;
                background: -webkit-linear-gradient(to right, $color-secundario, $color-cuaternario);
                background: linear-gradient(to right, $color-secundario, $color-cuaternario);
                -webkit-background-clip: text;
                background-clip: text;
            }
        }
    }
    /*---- MOBILE/INDEX/MAIN/CLIENTES ----*/
    .clientes{
        margin-top: 5rem;
        margin-bottom: 10rem;
        .clientes__newsletter{
            display: flex;
            flex-flow: column nowrap;
            align-items: center;
            h3{
                text-align: center;
                font-weight: bold;
            }
            .formulario{
                margin-top: 5rem;
                display: flex;
                flex-flow: column nowrap;
                .formulario__campos{
                    display: flex;
                    flex-flow: column nowrap;
                    justify-content: space-evenly;
                    line-height: 3rem;
                }
                .formulario__boton{
                    text-align: center;
                    margin-top: 2.5rem;
                }
            }
        }
        .clientes__instagram{
            margin-top: 2.5rem;
            display: flex;
            flex-flow: column nowrap;
            align-items: center;
            .clientes__titulo{
                font-weight: bold;
                color: $color-primario;
                text-decoration: none;
                margin-bottom: 5rem;
            }
        }
    }
    
    /*---- MOBILE/VENTA MAYORISTA/MAIN/DIV1 ----*/
    .main__mayoristas{
        background-color: $color-fondo;
    }
    .mayoristas__div1{
        height: 30vh;
        background-image: url(../images/Banner-Mayoristas-Color.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }
    /*---- MOBILE/VENTA MAYORISTA/MAIN/DIV2 ----*/
    .mayoristas__div2{
        display: flex;
        flex-flow: column wrap;
        justify-content: flex-start;
        align-items: center;
        h2{
            margin-top: 5rem;
            margin-bottom: 5rem;
            color: $color-cuaternario;
            text-transform: lowercase;
            font-weight: bold;
            text-align: center;
        }
    }
    /*---- MOBILE/VENTA MAYORISTA/MAIN/DIV3 ----*/
    .mayoristas__div3{
        display: flex;
        flex-flow: column wrap;
        justify-content: flex-start;
        align-items: center;
        h1{
            margin-top: 5rem;
            margin-bottom: 2.5rem;
            color: $color-cuaternario;
            text-transform: lowercase;
            font-weight: bold;
            text-align: center;
        }
        h3{
            margin-top: 2.5rem;
            margin-bottom: 2.5rem;
            color: $color-primario;
            font-weight: bold;
            text-align: center;
        }
        p{
            color: $color-primario;
            text-align: justify;
            a{
                color: $color-primario;
                text-transform: lowercase;
                font-style: italic;
                font-weight: bold;
                text-decoration: none;
            }
        }
    }
    /*---- MOBILE/VENTA MAYORISTA/MAIN/DIV4 ----*/
    .mayoristas__div4{
        margin-top: 2.5rem;
        margin-bottom: 10rem;
        display: flex;
        flex-flow: column wrap;
        justify-content: flex-start;
        align-items: center;
        h3{
            margin-top: 2.5rem;
            margin-bottom: 2.5rem;
            color: $color-primario;
            font-weight: bold;
            text-align: center;
        }
        p{
            color: $color-primario;
            text-align: justify;
            a{
                color: $color-primario;
                text-transform: lowercase;
                font-style: italic;
                font-weight: bold;
                text-decoration: none;
            }
        }
    }
    /*---- MOBILE/CONTACTO ----*/
    /*---- MOBILE/CONTACTO/MAIN ----*/
    .contacto__fondo{
        background-color: $color-fondo;
    }
    .main__contacto{
        height: 30vh;
        background-image: url(../images/Banner3.jpg);
        background-size: cover;
        h1{
            color: $color-primario;
            font-weight: bolder;
            text-align: center;
        }
    } 

    /*---- MOBILE/CONTACTO/MAIN/PREGUNTAS FRECUENTES ----*/
    .contacto__preguntasFrecuentes{
        h2{
            margin-top: 5rem;
            color: $color-cuaternario;
            font-size: 2rem;
            font-weight: bold;
            text-transform: lowercase;
            margin-bottom: 5rem;
            text-align: center;
        }
        div{
            text-align: center;
            div{
                h3{
                    button{
                        color: $color-primario;
                        background-color: $color-fondo;
                        &:focus{
                            color: $color-cuaternario;
                            background-color: $color-fondo;
                            box-shadow: none;
                        }
                    }
                }
                // MODIFICAR COLOR DE FONDO DEL BOTON CUANDO NO ESTÁ APRETADO
            }
        }
    }
    .preguntasFrecuentes__nuestrosProductos{
        display: flex;
        flex-flow: column wrap;
        margin-bottom: 5rem;
        color: $color-primario;
        h3{
            margin-top: 2rem;
            font-weight: bold;
        }
        h4{
            margin-top: 2rem;
        }
        p{
            margin-top: 2rem;
            text-align: justify;
            a{
                color: $color-fondo;
                font-weight: bold;
                font-style: italic;
                text-decoration: none;
            }
        }
    }
    /*---- MOBILE/CONTACTO/MAIN/FORMULARIO ----*/
    .container__contacto{
        display: flex;
        flex-flow: column nowrap;
        h2{
            margin-top: 5rem;
            color: $color-cuaternario;
            font-size: 2rem;
            font-weight: bold;
            text-transform: lowercase;
            margin-bottom: 5rem;
            text-align: center;
        }
        form{
            margin-top: 2rem;
            text-transform: uppercase;
            color: $color-primario;
            line-height: 5rem;
            div{
                select{
                    // font-family: now;
                    text-transform: uppercase;
                }
            } 
        }
    }
    .formulario__botones{
        // font-size: 2rem;
        display: flex;
        flex-flow: column wrap;
        justify-content: space-between;
        gap: 2rem;
    }
    .formulario__textarea{
        resize: none;
    }
    /*---- MOBILE/CONTACTO/MAIN/NEWSLETTER ----*/
    .contacto__newsletter{
        h3{
            color: $color-cuaternario;
            margin-top: 10rem;
            margin-bottom: 5rem;
            font-size: 2rem;
            font-weight: bold;
            text-align: center;
        }
        .newsletter__formulario{
            display: flex;
            flex-flow: column nowrap;
            color: $color-primario;
            margin-bottom: 5rem;
            text-transform: uppercase;
            .newsletter__campos{
                display: flex;
                flex-flow: row nowrap;
            }
            .newsletter__boton{
                text-align: center;
                margin-top: 2.5rem;
            }
        }
    }
}


@media only screen and (min-width: 992px){
    /*---- DESKTOP/INDEX/MAIN ----*/
    .fondo{
        background-color: $color-fondo;
    }
    /*---- DESKTOP/INDEX/MAIN/HERO ----*/
    .hero{
        height: 70vh;
        background-image: url(../images/BannerPrincipal.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        img{
            display: none;
        }
    }

    .titulo{
        height: 15vh;
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
        background-color: $color-primario;
        color: $color-fondo;
        h1{
            font-size: 4rem;
            text-align: center;
            text-transform: lowercase;
            span{
                font-weight: bold;
            }
        }
    }

    .slider{
        height: 30vh;
        display: flex;
        flex-flow: row wrap;
        animation: slide 20s;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in;
        animation-duration: 3s;
        @keyframes slide{
            0%{
                background-image: url(../images/Banner2.jpg);
                background-repeat: no-repeat;
                background-position: center;
                background-size: cover;
            }
            35%{
                background-image: url(../images/Banner2b.jpg);
                background-repeat: no-repeat;
                background-position: center;
                background-size: cover;
            }
            70%{
                background-image: url(../images/Banner2c.jpg);
                background-repeat: no-repeat;
                background-position: center;
                background-size: cover;
            }
            100%{
                background-image: url(../images/Banner2.jpg);
                background-repeat: no-repeat;
                background-position: center;
                background-size: cover;
            }
        }
        div{
            display: flex;
            flex-flow: row nowrap;
            justify-content: center;
            align-items: center;
            .monocromo{
                display: none;
                a{
                    text-align: center;
                }
            }
        }

    }
    /*---- DESKTOP/INDEX/MAIN/COLECCIONES ----*/
    .colecciones{
        height: 40vh;
        display: flex;
        flex-flow: column nowrap;
        div{
            margin-top: 5rem;
            margin-bottom: 5rem;
            display: flex;
            flex-flow: row nowrap;
            justify-content: center;
            align-items: center;
            text-transform: uppercase;
            h2{
                font-size: 4rem;
                text-transform: lowercase;
                span{
                    font-weight: bold;
                    color: transparent;
                    background: -webkit-linear-gradient(to right, $color-secundario, $color-cuaternario);
                    background: linear-gradient(to right, $color-secundario, $color-cuaternario);
                    -webkit-background-clip: text;
                    background-clip: text;
                }
            }
        }
        article{
            height: 80%;
            background-image: url(../images/Banner3.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            div{
                .bouquet{
                        display: none;
                }
            }
        }
    }
    /*---- DESKTOP/INDEX/MAIN/CATEGORIAS ----*/
    .categorias{
        height: 70vh;
        margin-top: 20rem;
        .categorias__perros{
            background-image: url(../images/PerrosBN.jpg);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            display: flex;
            flex-flow: column nowrap;
            justify-content: flex-end;
            align-items: flex-end;
            h3{
                color: transparent;
                font-weight: bolder;
                text-transform: uppercase;
            }
            a{
                margin-bottom: 2rem;
                margin-right: 2rem;
                color: $color-primario;
                text-decoration: none;
                &:hover{
                    color: $color-fondo;
                }
            }
        }
        .categorias__gatos{
            background-image: url(../images/GatosBN.jpg);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            display: flex;
            flex-flow: column nowrap;
            justify-content: flex-end;
            align-items: flex-end;
            h3{
                color: transparent;
                font-weight: bolder;
                text-transform: uppercase;
            }
            a{
                margin-bottom: 2rem;
                margin-right: 2rem;
                color: $color-primario;
                text-decoration: none;
                &:hover{
                    color: $color-fondo;
                }
            }
        }
        .categorias__humanos{
            background-image: url(../images/HumanosBN.jpg);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            display: flex;
            flex-flow: column nowrap;
            justify-content: flex-end;
            align-items: flex-end;
            h3{
                color: transparent;
                font-weight: bolder;
                text-transform: uppercase;
            }
            a{
                margin-bottom: 2rem;
                margin-right: 2rem;
                color: $color-primario;
                text-decoration: none;
                &:hover{
                    color: $color-fondo;
                }
            }
        }
    }
    /*---- DESKTOP/INDEX/MAIN/DESTACADOS ----*/
    .destacados{
        margin-top: 5rem;
        background-color: $color-fondo;
        h2{
            font-size: 4rem;
            margin-top: 5rem;
            margin-bottom: 5rem;
            text-align: center;
            text-transform: lowercase;
            span{
                font-weight: bold;
                color: transparent;
                background: -webkit-linear-gradient(to right, $color-secundario, $color-cuaternario);
                background: linear-gradient(to right, $color-secundario, $color-cuaternario);
                -webkit-background-clip: text;
                background-clip: text;
            }
        }
    }
    /*---- DESKTOP/INDEX/MAIN/CLIENTES ----*/
    .clientes{
        margin-top: 5rem;
        margin-bottom: 10rem;
        .clientes__newsletter{
            display: flex;
            flex-flow: column nowrap;
            align-items: center;
            h3{
                font-weight: bold;
            }
            .formulario{
                margin-top: 5rem;
                display: flex;
                flex-flow: column nowrap;
                .formulario__campos{
                    display: flex;
                    justify-content: space-evenly;
                    line-height: 3rem;
                }
                .formulario__boton{
                    text-align: center;
                    margin-top: 2.5rem;
                }
            }
        }
        .clientes__instagram{
            display: flex;
            flex-flow: column nowrap;
            align-items: center;
            .clientes__titulo{
                font-weight: bold;
                color: $color-primario;
                text-decoration: none;
                margin-bottom: 5rem;
            }
        }
    }

    /*---- DESKTOP/TIENDA ----*/
    /*---- DESKTOP/TIENDA/MAIN ----*/
    .tienda__fondo{
        background: $color-fondo;
        .tienda__titulo{
            height: 60vh;
            background-image: url(../images/BannerProductos1.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            text-align: center;
            h1{
                font-weight: bold;
                margin-top: 20rem;
                font-size: 4rem;
                margin-bottom: 5rem;
            }
        }
    }
    .seccion1__div2{
        display: flex;
        flex-flow: column nowrap;
        img{
            margin-top: 5rem;
            margin-bottom: 5rem;
        }
    }
    /*---- DESKTOP/TIENDA/MAIN/COLECCIONES ----*/
    // .tienda__colecciones{
        
    // }

    /*---- DESKTOP/TIENDA/MAIN/CATEGORÍAS ----*/
    .tienda__categorias{
        .categorias__divGrande{
            background-color: $color-segundofondo;
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-evenly;
            align-items: center;
            text-decoration: none;
            color: $color-primario;
            transition: all 0.5s;
            &:hover{
                background-color: $color-primario;
                color: $color-fondo;
            }
        }
        .categorias__divChico{
            background-color: $color-segundofondo;
            display: flex;
            flex-flow: column nowrap;
            justify-content: center;
            align-items: center;
            text-decoration: none;
            color: $color-primario;
            transition: all 0.5s;
            &:hover{
                background-color: $color-primario;
                color: $color-fondo;
            }
        }
        .categorias__divGrande2{
            @extend .categorias__divGrande;
            margin-top: 2.3rem;
        }
    }
    /*---- DESKTOP/TIENDA/MAIN/NEWSLETTER ----*/
    .tienda__newsletter{
        margin-top: 5rem;
        display: flex;
        flex-flow: column nowrap;
        margin-bottom: 10rem;
        h3{
            text-align: center;
            margin-bottom: 2.5rem;
        }
        form{
            line-height: 5rem;
            .tienda__campos{
                display: flex;
                flex-flow: row nowrap;
                justify-content: center;
            }
            .tienda__boton{
                text-align: center;
                margin-top: 2.5rem;
            }
        }
    }

    /*---- DESKTOP/VENTA MAYORISTA ----*/
    /*---- DESKTOP/VENTA MAYORISTA/MAIN/DIV1 ----*/
    .main__mayoristas{
        background-color: $color-fondo;
    }

    .mayoristas__div1{
        height: 30vh;
        background-image: url(../images/Banner-Mayoristas-Color.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }
    /*---- DESKTOP/VENTA MAYORISTA/MAIN/DIV2 ----*/
    .mayoristas__div2{
        display: flex;
        flex-flow: column wrap;
        justify-content: flex-start;
        align-items: center;
        h2{
            font-size: 4rem;
            margin-top: 10rem;
            margin-bottom: 5rem;
            color: $color-cuaternario;
            text-transform: lowercase;
            font-weight: bold;
            text-align: center;
        }
    }
    /*---- DESKTOP/VENTA MAYORISTA/MAIN/DIV3 ----*/
    .mayoristas__div3{
        display: flex;
        flex-flow: column wrap;
        justify-content: flex-start;
        align-items: center;
        h1{
            font-size: 4rem;
            margin-top: 10rem;
            margin-bottom: 5rem;
            color: $color-cuaternario;
            text-transform: lowercase;
            font-weight: bold;
            text-align: center;
        }
        h3{
            margin-top: 5rem;
            margin-bottom: 5rem;
            color: $color-primario;
            font-weight: bold;
            text-align: center;
        }
        p{
            color: $color-primario;
            text-align: justify;
            a{
                color: $color-primario;
                text-transform: lowercase;
                font-style: italic;
                font-weight: bold;
                text-decoration: none;
            }
        }
    }
    /*---- DESKTOP/VENTA MAYORISTA/MAIN/DIV4 ----*/
    .mayoristas__div4{
        margin-top: 2.5rem;
        margin-bottom: 10rem;
        display: flex;
        flex-flow: column wrap;
        justify-content: flex-start;
        align-items: center;
        h3{
            margin-top: 2.5rem;
            margin-bottom: 5rem;
            color: $color-primario;
            font-weight: bold;
            text-align: center;
        }
        p{
            color: $color-primario;
            text-align: justify;
            a{
                color: $color-primario;
                text-transform: lowercase;
                font-style: italic;
                font-weight: bold;
                text-decoration: none;
            }
        }
    }

    /*---- DESKTOP/NOSOTROS ----*/
    /*---- DESKTOP/NOSOTROS/MAIN ----*/
    .main__nosotros{
        background-color: $color-fondo;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        div{
            h1{
                color: $color-cuaternario;
                font-size: 4rem;
                margin-top: 10rem;
                margin-bottom: 10rem;
                text-transform: lowercase;
                font-weight: bold;
                text-align: center;
            }
        }
    }
    /*---- DESKTOP/NOSOTROS/SECCION 1----*/
    .nosotros__seccion1{
        // display: flex;
        // justify-content: center;
        // align-items: flex-start;
        div{
            // display:flex;
            // flex-direction: column;
            // justify-content: center;
            // align-items: flex-start;
            h2{
                color: $color-primario;
                font-weight: bold;
            }
            p{
                color: $color-primario;
                margin-top: 2rem;
                text-align: justify;
            }
        }
    }
    /*---- DESKTOP/NOSOTROS/SECCION 2----*/
    .nosotros__seccion2{
        margin-top: 10rem;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        div{
            h2{
                font-size: 3rem;
                color: $color-cuaternario;
                text-transform: lowercase;
                text-align: center;
                font-weight: bold;
            }
        }

        div{
            // display:flex;
            // flex-direction: column;
            // justify-content: center;
            // align-items:flex-end;
            margin-bottom: 5rem;
            p{
                color: $color-primario;
                margin-top: 2rem;
                text-align: justify;
            }
            img{
                margin-top: 5rem;
            }
        }
    }

    /*---- DESKTOP/CONTACTO ----*/
    /*---- DESKTOP/CONTACTO/MAIN ----*/
    .contacto__fondo{
        background-color: $color-fondo;
    }
    .main__contacto{
        height: 30vh;
        background-image: url(../images/Banner3.jpg);
        background-size: cover;
        h1{
            color: $color-primario;
            font-weight: bolder;
            text-align: center;
        }
    } 

    /*---- DESKTOP/CONTACTO/MAIN/PREGUNTAS FRECUENTES ----*/
    .contacto__preguntasFrecuentes{
        h2{
            margin-top: 5rem;
            color: $color-cuaternario;
            font-size: 4rem;
            font-weight: bold;
            text-transform: lowercase;
            margin-bottom: 5rem;
        }
        div{
            div{
                h3{
                    button{
                        color: $color-primario;
                        background-color: $color-fondo;
                        &:focus{
                            color: $color-cuaternario;
                            background-color: $color-fondo;
                            box-shadow: none;
                        }
                    }
                }
                // MODIFICAR COLOR DE FONDO DEL BOTON CUANDO NO ESTÁ APRETADO
            }
        }
    }

    .preguntasFrecuentes__nuestrosProductos{
        display: flex;
        flex-flow: column wrap;
        margin-bottom: 5rem;
        color: $color-primario;
        h3{
            margin-top: 2rem;
            font-weight: bold;
        }
        h4{
            margin-top: 2rem;
        }
        p{
            margin-top: 2rem;
            text-align: justify;
            a{
                color: $color-fondo;
                font-weight: bold;
                font-style: italic;
                text-decoration: none;
            }
        }
    }
    /*---- DESKTOP/CONTACTO/MAIN/FORMULARIO ----*/
    .container__contacto{
        display: flex;
        flex-flow: column nowrap;
        h2{
            margin-top: 5rem;
            color: $color-cuaternario;
            font-size: 4rem;
            font-weight: bold;
            text-transform: lowercase;
            margin-bottom: 5rem;
        }
        form{
            margin-top: 2rem;
            // font-family: helvetica;
            text-transform: uppercase;
            font-weight: bold;
            color: $color-primario;
            div{
                select{
                    font-family: now;
                    text-transform: uppercase;
                }
            } 
        }
    }
    .formulario__botones{
        display: flex;
        justify-content: space-between;
    }
    .formulario__textarea{
        resize: none;
    }
    /*---- DESKTOP/CONTACTO/MAIN/NEWSLETTER ----*/
    .contacto__newsletter{
        h3{
            color: $color-cuaternario;
            margin-top: 10rem;
            margin-bottom: 5rem;
            font-size: 4rem;
            font-weight: bold;
        }
        .newsletter__formulario{
            display: flex;
            flex-flow: column nowrap;
            color: $color-primario;
            margin-bottom: 5rem;
            text-transform: uppercase;
            .newsletter__campos{
                display: flex;
                flex-flow: row nowrap;
            }
            .newsletter__boton{
                text-align: left;
                margin-top: 2.5rem;
            }
        }
    }

    /*---- DESKTOP/ERROR-404/MAIN ----*/
    .seccion__error{
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        margin-bottom: 10rem;
        h2{
            margin-top: 10rem;
            margin-bottom: 10rem;
        }
        p{
            a{
                color: $color-primario;
                font-weight: bolder;
                text-decoration: none;
                &:hover{
                    color: $color-secundario;
                }
            }
        }
        img{
            margin-top: 5rem;
        }
    }
}
