/*---- BOTONES ----*/
.boton{
	background-color: transparent;
	border: 0.2rem solid $color-primario;
	border-radius: 0;
	box-sizing: border-box;
	color: $color-fondo;
	cursor: pointer;
	display: inline-block;
	font-weight: 700;
	letter-spacing: 0.05em;
	margin: 0;
	outline: none;
	overflow: visible;
	padding: 1.25em 2em;
	position: relative;
	text-align: center;
	text-decoration: none;
	text-transform: none;
	transition: all 0.3s ease-in-out;
	user-select: none;
	font-size: 13px;
	&::before {
		content: " ";
		width: 1.5625rem;
		height: 2px;
		background: $color-primario;
		top: 50%;
		left: 1.5em;
		position: absolute;
		transform: translateY(-50%);
		transform-origin: center;
		transition: background 0.3s linear, width 0.3s linear;
	}
	.text {
		font-size: 1.125em;
		line-height: 1.33333em;
		padding-left: 2em;
		display: block;
		text-align: left;
		transition: all 0.3s ease-in-out;
		text-transform: uppercase;
		text-decoration: none;
		color: $color-primario;
	}
	.top-key {
		height: 2px;
		width: 1.5625rem;
		top: -2px;
		left: 0.625rem;
		position: absolute;
		background: $color-fondo;
		transition: width 0.5s ease-out, left 0.3s ease-out;
	}
	.bottom-key-1 {
		height: 2px;
		width: 1.5625rem;
		right: 1.875rem;
		bottom: -2px;
		position: absolute;
		background: $color-fondo;
		transition: width 0.5s ease-out, right 0.3s ease-out;
	}
	.bottom-key-2 {
		height: 2px;
		width: 0.625rem;
		right: 0.625rem;
		bottom: -2px;
		position: absolute;
		background: $color-fondo;
		transition: width 0.5s ease-out, right 0.3s ease-out;
	}
	&:hover {
		color: $color-fondo;
		background: $color-primario;
		&::before {
			width: 0.9375rem;
			background: $color-fondo;
		}
		.text {
			color: $color-fondo;
			padding-left: 1.5em;
		}
		.top-key {
			left: -2px;
			width: 0px;
		}
		.bottom-key-1 {
			right: 0;
			width: 0;
		}
		.bottom-key-2 {
			right: 0;
			width: 0;
		}
	}
}
/*---- BOTÓN COLECCIONES ----*/
.boton__colecciones{
	@extend .boton;
	background-color: $color-primario;
	&::before {
		background: $color-fondo;
	}
	.text {
		color: $color-fondo;
	}
	&:hover {
		color: $color-primario;
		background: $color-fondo;
		&::before {
			background: $color-primario;
		}
		.text {
			color: $color-primario;
		}
	}
}
/*---- BOTÓN 2 ----*/
.boton2{
	color: $color-fondo;
	padding: 1.7rem 4rem;
	border-radius: 5rem;
	border: 0;
	background-color: $color-primario;
	letter-spacing: 1.5px;
	text-transform: uppercase;
	font-size: 1.5rem;
	transition: all .5s ease;
	&:hover {
		letter-spacing: 0.3rem;
		background-color: $color-secundario;
		color: $color-fondo;
		}
	&:active {
		letter-spacing: 0.3rem;
		background-color: $color-secundario;
		color: $color-fondo;
		box-shadow: $color-secundario;
		transform: translateY(1rem);
		transition: 100ms;
	}
}
/*---- BOTÓN CATEGORÍAS ----*/
.boton__categorias{
	@extend .boton2;
}
/*---- BOTÓN FORMULARIO ----*/
.boton__formulario{
	@extend .boton2;
	color: $color-primario;
	background-color: $color-fondo;
	&:hover{
		background-color: $color-quinario;
	}
}
.entry--button{
	@extend .boton2;
	padding: 0.5rem 1rem;
	font-size: 1rem;
}
.buy--button{
	@extend .entry--button;
	width: 100%;
	padding: 1rem;
	background-color: $color-primario;
}
.remove--button{
	@extend .entry--button;
	background-color: $color-tercerfondo;
	&:hover {
		background-color: $color-primario;
		color: $color-tercerfondo;
		}
}
.close--button{
	color: $color-fondo;
	border-radius: 50%;
	border: none;
	background-color: $color-primario;
	text-transform: uppercase;
	width: 2rem;
	height: 2rem;
	font-size: 0.75rem;
	transition: all 0.5s ease;
	&:hover{
		color: $color-primario;
		background-color: $color-fondo;
		border: 0.1rem solid $color-primario;
	}
}
.empty--button{
	@extend .remove--button;
	padding: 0.5rem 1rem;
	font-size: 1rem;
}
.buy--button{
	@extend .boton2;
	&:hover{
		background-color: $color-quinario;
	}
}
/*---- BOTÓN TIENDA ----*/
.boton__tienda{
	@extend .boton2;
	padding: 0.5rem 2rem;
	font-size: 1rem;
}
