.swal2-container{
    .swal2-title{
        font-size: 3rem;
    }
    .swal2-html-container{
        font-size: 1.8rem;
    }
    .swal2-actions{
        .swal2-styled{
            font-size: 1.25rem;
        }
    }
}